<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event_Add</title>
    <style>
        #addEvent .el-row {
            margin-top: 20px;
        }
        .el-select-dropdown {
            z-index: 900000000 !important;
        }
    </style>
</head>
<body>
<div id="addEvent" style="margin-top:20px">
        <el-form :label-position="labelPosition" label-width="100px" :rules="rules" :model="addForm" ref='addForm'
                 style="padding:0 20px" class="demo-ruleForm">
            <el-form-item label="对象代码" prop="codeInput">
                <el-input placeholder="请输入对象代码" v-model="addForm.codeInput" ref="codeInput" v-bind:disabled="addForm.disabled"></el-input>
            </el-form-item>
            <el-form-item label="对象名称" prop="nameInput">
                <el-input placeholder="请输入对象名称" v-model="addForm.nameInput" ref="nameInput"></el-input>
            </el-form-item>
            <el-form-item label="关联表" prop="tableInput">
                <el-select v-model="addForm.tableInput" placeholder="请选择关联表" v-bind:disabled="addForm.tabDisabled" @change="changeTable">
                    <el-option v-for="item in reaOptTable"
                               :key="item.tableSchema"
                               :label="item.tableSchema"
                               :value="item.rowId">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="版本">
                <el-input placeholder="版本" v-model="addForm.versionInput" ref="versionInput" disabled></el-input>
            </el-form-item>
        </el-form>
        <el-row>
            <el-col :span="11" style="text-align:right">
                <el-button type="primary" size="small" @click.native="conformEvent('addForm')">保存</el-button>
            </el-col>
            <el-col :span="11" style="text-align: left" :offset="2">
                <el-button type="primary" size="small" @click.native="cancel">取消</el-button>
            </el-col>
        </el-row>
</div>
<script>
    var em = new Vue({
        el: '#addEvent',
        data: function () {
            return {
                labelPosition: 'right',
                addForm:{
                    codeInput: '',
                    nameInput: '',
                    tableInput: '',
                    versionInput: '',
                    disabled: true,
                    tabDisabled:false,
                    dataId:''
                },
                reaOptTable:[],
                rules: {
//                    codeInput: [
//                        {required: true, message: '请输入对象代码', trigger: 'blur'},
//                        //{ min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
//                    ],
                    nameInput: [
                        {required: true, message: '请输入对象名称', trigger: 'change'}
                    ],
                    tableInput: [
                        {required: true, message: '请选择关联', trigger: 'blur'}
                    ]
                }
            }
        },
        methods: {
            changeTable(e){
                if (operate == 1) {
                    em.dataId=e;
                    console.log(em.dataId)
                }
            },
            conformEvent(addForm) {
                em.$refs[addForm].validate(function (valid) {
                    if (valid) {
                        if (operate == 1) {
                            console.log(em.reaOptTable);
                            em.$http.jsonp(addUrl, {
                                objectName: em.addForm.nameInput,
                                relateTableRowId: em.dataId
                            }, {
                                jsonp: 'callback'
                            }).then(function (res) {
                                addObj.addOk(function(){
                                    ibcpLayer.ShowOK(res.data.message);
                                    basLeft.searchLeftTable();
                                    ibcpLayer.Close(divIndex);
                                })
                            });
                        }
                        if (operate == 2) {
                            em.$http.jsonp(editUrl, {
                                //拿到这条数据的ID
                                rowId: basLeft.currentVal.rowId,
                                objectName: em.addForm.nameInput
                            }, {
                                jsonp: 'callback'
                            }).then(function () {
                                editObj.editOk(function(){
                                    ibcpLayer.ShowOK('编辑成功');
                                    basLeft.searchLeftTable();
                                    ibcpLayer.Close(divIndex);
                                })
                            });
                        }
                    }else {
                        return false;
                    }
                })
            },
            cancel() {
                ibcpLayer.Close(divIndex);
            }
        }
    })
</script>
</body>
</html>