<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event_Add</title>
    <style>
        #addProEvent .el-row {
            margin-top: 20px;
        }
        .el-select-dropdown {
            z-index: 900000000 !important;
        }
    </style>
</head>
<body>
<div id="addProEvent" style="margin-top:20px">
    <el-form :label-position="labelPosition" label-width="120px" :rules="rules" :model="addProForm" ref='addProForm'
             style="padding:0 20px" class="demo-ruleForm">
        <el-form-item label="属性代码" prop="codeProInput">
            <el-input placeholder="请输入属性代码" v-model="addProForm.codeProInput" ref="addProForm.codeProInput" v-bind:disabled="addProForm.disabled"></el-input>
        </el-form-item>
        <el-form-item label="属性名称" prop="nameProInput">
            <el-input placeholder="请输入属性名称" v-model="addProForm.nameProInput" ref="addProForm.nameProInput"></el-input>
        </el-form-item>

        <!--<template>-->
            <!--<el-checkbox :disabled="isDisabled"  v-model="checked" @change="isChecked">是否显示</el-checkbox>-->
        <!--</template>-->

        <el-form-item label="是否为扩展属性" prop="checked">
                <el-checkbox label="" v-model="addProForm.checked"  @change.native="changEvent" v-bind:disabled="addProForm.checkEvent" name="type"></el-checkbox>
        </el-form-item>
        <el-form-item label="关联表字段" prop="tableReaInput">
            <el-select v-model="addProForm.tableReaInput" placeholder="请选择关联表字段" ref="addProForm.tableReaInput" @change="changeReaTable" v-bind:disabled="addProForm.reaTabEvent">
                <el-option v-for="item in optionValue"
                           :key="item.columnCname"
                           :label="item.columnCname"
                           :value="item.rowId">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="值类型" prop="typeInput">
            <el-select v-model="addProForm.typeInput" placeholder="请选择值类型" ref="addProForm.typeInput">
                <el-option v-for="item in optionLeft"
                           :key="item.confKey"
                           :label="item.confValue"
                           :value="item.confValue">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="值类型来源" prop="typeComValue">
            <el-select v-model="addProForm.typeComValue" placeholder="请选择值类型来源" ref="addProForm.typeComValue">
                <el-option v-for="item in optionRight"
                           :key="item.confKey"
                           :label="item.confValue"
                           :value="item.confValue">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="值来源内容" prop="comContent">
            <el-input type="textarea" placeholder="请输入值来源内容" v-model="addProForm.comContent" ref="addProForm.comContent"></el-input>
        </el-form-item>
    </el-form>
    <el-row>
        <el-col :span="11" style="text-align:right">
            <el-button type="primary" size="small" @click.native="conformEvent('addProForm')">保存</el-button>
        </el-col>
        <el-col :span="11" style="text-align: left" :offset="2">
            <el-button type="primary" size="small" @click.native="cancel">取消</el-button>
        </el-col>
    </el-row>
</div>
<script>
    var proEm = new Vue({
        el: '#addProEvent',
        data: function () {
                return {
                    labelPosition: 'right',
                    addProForm: {
                        codeProInput: '',
                        nameProInput: '',
                        checked: false,
                        tableReaInput: '',
                        typeComValue: '',
                        comContent: '',
                        typeInput: '',
                        disabled: true,
                        iconEvent: false,
                        checkEvent: false,
                        reaTabEvent:false,
                        dataId:'',
                    },
                    optionValue:[],
                    optionLeft: [],
                    optionRight: [],
                    rules: {
                        nameProInput: [
                            {required: true, message: '请输入属性名称', trigger: 'change'}
                        ],
//                        checked: [
//                            {required: true, message: '请选择扩展属性', trigger: 'click' }
//                        ],
//                        tableReaInput: [
//                            { required: true, message: '请选择关联表字段', trigger: 'blur'}
//                        ],
                        typeInput: [
                            {required: true, message: '请选择值类型', trigger: 'change'}
                        ],
                        typeComValue: [
                            {required: true, message: '请选择值类型来源', trigger: 'change'}
                        ],
                        comContent: [
                            {required: true, message: '请输入值来源内容', trigger: 'blur'}
                        ]
                    }
                }
        },
        methods: {
            searchProTable(){
                this.checked = false  //点击选择表 按钮不选中
                var htmlUrl = 'connect-child.html';
                littledivIndex = ibcpLayer.ShowIframe(htmlUrl, '关联表字段', '600px', '560px', false)
            },
            changEvent(){
                if (proEm.addProForm.checked ==true) {
                    proEm.addProForm.tableReaInput=''
                }
            },
            changeReaTable(e){
                proEm.dataId=e;
                console.log( proEm.dataId)
                if(operateOPr==1){  //新增的时候
                    if(proEm.dataId!=''){
                        proEm.addProForm.checked = false;   //关联表与是否属性只能选其一
                    }
                }
                if(operateOPr==2){  //编辑的时候
                    if(proEm.dataId!=undefined){
                        proEm.addProForm.checked = false;   //关联表与是否属性只能选其一
                    }
                }
            },
            conformEvent(addProForm) {
//                if (this.checked == true) {
//                    var datas = [this.$refs.nameProInput, this.$refs.typeInput, this.$refs.typeComValue, this.$refs.comContent];
//                } else {
//                    var datas = [this.$refs.nameProInput, this.$refs.tableReaInput, this.$refs.typeInput, this.$refs.typeComValue, this.$refs.comContent];
//                }
//                for (var i = 0; i < datas.length; i++) {
//                    if (datas[i].value == '') {
//                        ibcpLayer.ShowMsg(datas[i].placeholder);
//                        return;
//                    }
//                }
                proEm.$refs[addProForm].validate(function (valid) {
                    if (valid) {
                        if(proEm.addProForm.checked==false&&proEm.addProForm.tableReaInput==''){
                            ibcpLayer.ShowMsg('扩展属性与关联表字段选其一')
                            return;
                        }
                        if(operateOPr==1){
                            proEm.$http.jsonp(serverPath + "/businObjPro/add", {
                                objRowId: basLeft.currentId,//左边表的ID
                                propertyName: proEm.addProForm.nameProInput,//业务对象属性名称
                                wetherExpandPro: proEm.addProForm.checked,//是否为扩展属性
                                relateTableColumn: proEm.addProForm.tableReaInput,//关联表字段
                                valueType: proEm.addProForm.typeInput,//值类型
                                valueResourceType: proEm.addProForm.typeComValue,//值来源类型
                                valueResourceContent: proEm.addProForm.comContent,//值来源内容
                            }, {
                                jsonp: 'callback'
                            }).then(function (res) {
                               // console.log(res);
                                addObj.addOk(function(){
                                    ibcpLayer.ShowOK(res.data.message);
                                    basRight.searchRightTable();
                                    ibcpLayer.Close(divIndex);
                                })
                            });
                        }
                        else if(operateOPr==2){
                            //console.log(basRight.currentVal.rowId)
                            proEm.$http.jsonp(serverPath + "/businObjPro/modify", {
                                rowId: basRight.currentVal.rowId,//本生的ID
                                objRowId: basLeft.currentId,//左边表的ID
                                propertyCode: proEm.addProForm.codeProInput,//业务对象代码
                                propertyName: proEm.addProForm.nameProInput,//业务对象属性名称
                                wetherExpandPro: proEm.addProForm.checked,//是否为扩展属性
                                relateTableColumn: proEm.addProForm.tableReaInput,//关联表字段
                                valueType: proEm.addProForm.typeInput,//值类型
                                valueResourceType: proEm.addProForm.typeComValue,//值来源类型
                                valueResourceContent: proEm.addProForm.comContent,//值来源内容
                            }, {
                                jsonp: 'callback'
                            }).then(function (res) {
                               // console.log(res);
                                editObj.editOk(function(){
                                    ibcpLayer.ShowOK(res.data.message);
                                    basRight.searchRightTable();
                                    ibcpLayer.Close(divIndex);
                                })
                            });
                        }
                    }else {
                        return false;
                    }
                })

            },
            cancel() {
                ibcpLayer.Close(divIndex);
            }
        }
    })
</script>
</body>
</html>