<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event_Add</title>
    <style>
        #addEvent .el-row {
            margin-top: 20px;
        }
        .el-select-dropdown {
            z-index: 900000000 !important;
        }
    </style>
</head>
<body>
<div id="addEvent" style="margin-top:20px">
        <el-form :label-position="labelPosition" label-width="100px" :rules="rules" :model="addForm" ref='addForm'
                 style="padding:0 20px" class="demo-ruleForm">
            <el-form-item label="对象代码" prop="codeInput">
                <el-input placeholder="请输入对象代码" v-model="addForm.codeInput" ref="codeInput" v-bind:disabled="addForm.disabled"></el-input>
            </el-form-item>
            <el-form-item label="对象名称" prop="nameInput">
                <el-input placeholder="请输入对象名称" v-model="addForm.nameInput" ref="nameInput"></el-input>
            </el-form-item>
            <el-form-item label="关联表" prop="tableInput">
                <select-tab ref="selectTab"></select-tab>
            </el-form-item>
            <el-form-item label="版本">
                <el-input placeholder="版本" v-model="addForm.versionInput" ref="versionInput" disabled></el-input>
            </el-form-item>
        </el-form>
        <el-row>
            <el-col :span="11" style="text-align:right">
                <el-button type="primary" size="small" @click.native="conformEvent">保存</el-button>
            </el-col>
            <el-col :span="11" style="text-align: left" :offset="2">
                <el-button type="primary" size="small" @click.native="cancel">取消</el-button>
            </el-col>
        </el-row>
</div>

<template id="tableSelect">
    <el-select v-model="tableInput" clearable filterable placeholder="请选择关联表">
        <el-option v-for="item in options"
                   :key="item.rowId"
                   :label="item.tableCname"
                   :value="item.rowId">
        </el-option>
    </el-select>
</template>

<script>
    //下拉框修改 jms
    Vue.component('select-tab', SelectOptions.setOpt('tableSelect','tableInput','',conTable));

    var em = new Vue({
        el: '#addEvent',
        data: function () {
            return {
                labelPosition: 'right',
                addForm:{
                    codeInput: '',
                    nameInput: '',
                    versionInput: '',
                    disabled: true,
                    tabDisabled:false,
                    dataId:'',
                    flag:true
                },
                reaOptTable:[],
                rules: {
//                    codeInput: [
//                        {required: true, message: '请输入对象代码', trigger: 'blur'},
//                        //{ min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
//                    ],
//                    nameInput: [
//                        {required: true, message: '请输入对象名称', trigger: 'change'}
//                    ],
//                    tableInput: [
//                        {required: true, message: '请选择关联', trigger: 'blur'}
//                    ]
                }
            }
        },
        methods: {
//            changeTable(e){
//                if (operate == 1) {
//                    em.dataId=e;
//                    console.log(em.dataId)
//                }
//            },
            conformEvent() {
                var nameInput= this.$refs.nameInput.value;
                var tableInput= em.$refs.selectTab.tableInput;
                if(nameInput==''){
                    ibcpLayer.ShowMsg(this.$refs.nameInput.placeholder);
                        return;
                }
                if(tableInput==''){
                    ibcpLayer.ShowMsg('请选择关联表');
                    return;
                }
//                var datas = [
//                    this.$refs.nameInput,
//                    em.$refs.selectTab
//                ];
//                console.log(datas)
//                console.log(em.$refs.selectTab.value)
//                for (var i = 0; i < datas.length; i++) {
//                    if (datas[i].value == '') {
//                        ibcpLayer.ShowMsg(datas[i].placeholder);
//                        return;
//                    }
//                }
//                em.$refs[addForm].validate(function (valid) {
//                    if (valid) {
                        if (operate == 1) {
                            console.log(em.$refs.selectTab.tableInput)
                            addObj.addOk(function(){
                                em.$http.jsonp(addUrl, {
                                objectName: em.addForm.nameInput,
                                relateTableRowId: em.$refs.selectTab.tableInput,
                            }, {
                                jsonp: 'callback'
                            }).then(function (res) {
                                    showMsg.MsgOk(basTop,res);
                                    basLeft.leftInput='';
                                    //分页跳回到第一页
                                    queryData.getData(qurUrl,basLeft.leftInput,basLeft,function(res){});
                                    ibcpLayer.Close(divIndex);
                                })
                            },function(){
                                showMsg.MsgError(basTop)
                            })
                        }
                        if (operate == 2) {
                           // console.log(em.$refs.selectTab)
                            editObj.editOk(function(){
                                em.$http.jsonp(editUrl, {
                                    //拿到这条数据的ID
                                    rowId: basLeft.currentVal.rowId,
                                    objectName: em.addForm.nameInput,
                                    relateTableRowId: em.$refs.selectTab.tableInput,
                                }, {
                                    jsonp: 'callback'
                                }).then(function (res) {
                                    showMsg.MsgOk(basTop,res);
                                    basLeft.leftInput='';
                                    //分页跳回到第一页
                                    queryData.getData(qurUrl,basLeft.leftInput,basLeft,function(res){});
                                    //basLeft.searchLeftTable();
                                    ibcpLayer.Close(divIndex);
                                });
                            },function(){
                                showMsg.MsgError(basTop)
                            })
                        }
//                    }else {
//                        return false;
//                    }
                //})
            },
            cancel() {
                ibcpLayer.Close(divIndex);
            }
        }
    })
</script>
</body>
</html>