<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event_Add</title>
    <style>
        #addBlock .el-row {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div id="addBlock" style="margin-top:20px">
    <el-row justify="center" type="flex">
        <el-col :span="22">
            <div>
                <el-input placeholder="请输入代码" v-model="codeInput" :disabled="isEdit" ref="codeInput">
                    <template slot="prepend">代码</template>
                </el-input>
            </div>
        </el-col>
    </el-row>
    <el-row justify="center" type="flex">
        <el-col :span="22">
            <div>
                <el-input placeholder="请输入名称" v-model="nameInput" ref="nameInput">
                    <template slot="prepend">名称</template>
                </el-input>
            </div>
        </el-col>
    </el-row>
    <el-row justify="center" type="flex">
        <el-col :span="22">
            <div>
                <el-input placeholder="请输入类型" :disabled="isEdit" v-model="typeInput" ref="typeInput">
                    <template slot="prepend">类型</template>
                </el-input>
            </div>
        </el-col>
    </el-row>
    <el-row justify="center" type="flex">
        <el-col :span="22">
            <div>
                <el-input placeholder="请选择关联对象" v-model="tableInput" ref="tableInput" disabled="" data-id="">
                    <el-button slot="append" :disabled="isEdit" icon="search" @click="searchConnectObj"></el-button>
                </el-input>
            </div>
        </el-col>
    </el-row>
    <el-row justify="center" type="flex">
        <el-col :span="22">
            <div>
                <el-input placeholder="请输入说明" :disabled="isEdit" v-model="desp">
                    <template slot="prepend">说明</template>
                </el-input>
            </div>
        </el-col>
    </el-row>
    <el-row >
        <el-col :span="11" style="text-align:right">
            <el-button type="primary" @click.native="conformEvent">确定</el-button>
        </el-col>
        <el-col :span="11" style="text-align: left" :offset="2">
            <el-button type="primary" @click.native="cancel">取消</el-button>
        </el-col>
    </el-row>
</div>
</body>
<script src="AddBlock.js"></script>
</html>