<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <el-col :span="24" id="pageResources" style="margin-top:20px;padding-left: 20px;">
    <div>
        <el-row>
            <el-col :span="24">
                <el-row style="margin-bottom: 10px">
                    <el-col :span="12">
                        <div>
                            <el-input placeholder="请输入内容" v-model="searchInput">
                                <el-select clearable slot="prepend" placeholder="请选择" v-model="select">
                                    <el-option label="编号" value="operatNumber"></el-option>
                                    <el-option label="名称" value="operatName"></el-option>
                                </el-select>
                                <el-button slot="append" icon="search" @click="searchClick"></el-button>
                            </el-input>
                        </div>
                    </el-col>
                </el-row>
            </el-col>
        </el-row>
        <el-row>
            <el-table ref="myData"
                      :data="tableData"
                      @row-click="click" border style="width: 100%"
                      :highlight-current-row="true"
                      :height="leftHeight"
                      v-loading="loading"
                      element-loading-text="加载中">
                <el-table-column show-overflow-tooltip sortable="custom" prop="operatNumber" label="接口编号" width="">
                </el-table-column>
                <el-table-column show-overflow-tooltip sortable="custom" prop="operatName" label="接口名称" width="120">
                </el-table-column>
                <el-table-column show-overflow-tooltip prop="desc" label="备注" width="">
                </el-table-column>
            </el-table>
        </el-row>
        <el-row type="flex" justify="end" style="padding-top:10px" class="block">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="pageNum"
                    :page-sizes="[5,10,]"
                    :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="allDate">
            </el-pagination>
        </el-row>
        <el-row style="position: absolute; top: 500px; left: 320px;">
            <el-col :span="8" style="text-align:right">
                <el-button type="primary" @click="conformEvent">保存</el-button>
            </el-col>
            <el-col :span="8" style="text-align: left; margin-left: 50px;" :offset="2">
                <el-button type="primary" @click="cancel">取消</el-button>
            </el-col>
        </el-row>
    </div>
</el-col>
</body>
<script>
    var addUrl = serverPath + "/permissionResource/insertPermissionInterface";
    var selUrl = serverPath + '/funcOperat/queryPage';
    var pageResources = new Vue({
        el:"#pageResources",
        data:getData.dataObj({
            searchInput:"",
            select:"",
            row:"",
            rowIds:[],//资源ID集合
        }),
        methods:{
            PersonnelInformation(numberPage,search,param){
                var page = 1;
                var data = null;
                if(numberPage){
                    page = numberPage;
                }
                if(search != null){
                    data = {
                        "search":search,
                    }
                }else{
                    data = {
                        "param":JSON.stringify(param)
                    }
                }
                if(param != null){
                    var strParam = JSON.stringify(param);
                    data = {
                        "param":strParam,
                    }
                }else{
                    data = {
                        "search":search,
                    }
                }
                querySearch.getDataPage(selUrl,data,pageResources,page,function(res){

                })
            },
            searchClick(){
                if(this.select != ""){
                    var param = {};
                    param[this.select] = this.searchInput;
                    this.PersonnelInformation(1,null,param);
                }else{
                    this.PersonnelInformation(1,this.select,null);
                }
            },
            click(row){
                this.row = row;
            },
            handleSizeChange(){},
            handleCurrentChange(){},
            //新增
            addInterface(){
                var data = {"url":addUrl,"jsonData":{
                    permissionRowId:rightBottom.rowId,
                    interfaceRowIds:pageResources.rowIds
                },
                    "obj":rightBottom,
                    "showMsg":true
                }
                gmpAjax.showAjax(data,function(res){
                    right.refreshTable(rightBottom.selRightRowId.rowId);
                    pageResources.cancel();
                })
            },
            conformEvent(){
                right.chooseData = this.row;
                this.rowIds.push(this.row.rowId);
                this.addInterface();
            },
            cancel(){
                ibcpLayer.Close(rightBottom.divIndex);
            }
        }
    })
</script>
</html>