<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bcx.plat.core.morebatis.mapper.PostgreSuitMapper">

  <sql id="solveWhereCondition">
    <where>
      <foreach collection="translator.translate(where)" item="i">
        <choose>
          <when test="i instanceof com.bcx.plat.core.morebatis.cctv1.SqlSegment">${@com.bcx.plat.core.utils.UtilsTool@camelToUnderline(i.segment)}</when>
          <when test="i instanceof java.util.Collection">
            <foreach collection="i" separator="," item="item" open="(" close=")">
              #{item}
            </foreach>
          </when>
          <when test="i instanceof com.bcx.plat.core.morebatis.phantom.Column">
          <!--这个地方以后要把column解析搬走-->
            ${i.fieldSource}
          </when>
          <otherwise>#{i}</otherwise>
        </choose>
      </foreach>
    </where>
  </sql>

  <select id="select" parameterType="com.bcx.plat.core.morebatis.command.QueryAction"
    resultType="hashmap">
    SELECT
    <trim suffixOverrides=",">
      <foreach collection="columns" item="column">
        ${column.columnSqlFragment},
      </foreach>
    </trim>
    FROM ${tableSource.tableSourceSqlFragment}
    <include refid="solveWhereCondition"/>
    order by create_time desc
  </select>

  <insert id="insert" parameterType="com.bcx.plat.core.morebatis.command.InsertAction">
    ${valuesRefresh}
    insert into ${tableSource.tableSourceSqlFragment}
    <foreach close=")" collection="columns" item="column" open="(" separator=",">
      ${@com.bcx.plat.core.utils.UtilsTool@camelToUnderline(column)}
    </foreach>
    VALUES
    <foreach collection="values" item="row" separator=",">
      <foreach close=")" collection="row" item="rowValue" open="(" separator=",">
            #{rowValue}
      </foreach>
    </foreach>
  </insert>

  <update id="update" parameterType="com.bcx.plat.core.morebatis.command.UpdateAction">
    UPDATE ${tableSource.tableSourceSqlFragment} SET
    <foreach collection="values" index="field" item="value" separator=",">
      ${@com.bcx.plat.core.utils.UtilsTool@camelToUnderline(field)} = #{value}
    </foreach>
    <include refid="solveWhereCondition"/>
  </update>

  <delete id="delete">
    delete FROM ${tableSource.tableSourceSqlFragment}
    <include refid="solveWhereCondition"/>
  </delete>
</mapper>