<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bcx.plat.core.morebatis.mapper.TempSuitMapper">
  <select id="select" parameterType="com.bcx.plat.core.morebatis.QueryAction"
    resultType="hashmap">
    SELECT
    <trim suffixOverrides=",">
      <foreach collection="columns" item="column">
        ${column.columnSqlFragment},
      </foreach>
    </trim>
    FROM ${tableSource.tableSourceSqlFragment}
    <where>
      <foreach collection="where" item="condition">
        AND ${condition["not"]?"not":""} ${@com.bcx.plat.core.utils.UtilsTool@camelToUnderline(condition.field.fieldName)}
        <choose>
          <when test="condition.operator==@com.bcx.plat.core.morebatis.substance.condition.Operator@EQUAL">
            = #{condition.value}
          </when>
          <when test="condition.operator==@com.bcx.plat.core.morebatis.substance.condition.Operator@LIKE_LEFT">
            like concat('%',#{condition.value})
          </when>
          <when test="condition.operator==@com.bcx.plat.core.morebatis.substance.condition.Operator@LIKE_RIGHT">
            like concat(#{condition.value},'%')
          </when>
          <when test="condition.operator==@com.bcx.plat.core.morebatis.substance.condition.Operator@LIKE_FULL">
            like concat('%',concat(#{condition.value},'%'))
          </when>
          <when test="condition.operator==@com.bcx.plat.core.morebatis.substance.condition.Operator@IN">
            <choose>
              <when test="condition.value.size>0">
                in
                <foreach close=")" collection="condition.value" item="v" open="(" separator=",">
                  #{v}
                </foreach>
              </when>
              <otherwise>
                !=${condition.field.fieldName}
              </otherwise>
            </choose>
          </when>
          <otherwise>
            unsupported operator error
          </otherwise>
        </choose>
      </foreach>
    </where>
    order by create_time desc
  </select>

  <select id="selectByOr" parameterType="com.bcx.plat.core.morebatis.QueryAction"
    resultType="hashmap">
    SELECT
    <trim suffixOverrides=",">
      <foreach collection="columns" item="column">
        ${column.columnSqlFragment},
      </foreach>
    </trim>
    FROM ${tableSource.tableSourceSqlFragment}
    <where>
      <foreach collection="where" item="condition">
        OR ${condition["not"]?"not":""} ${@com.bcx.plat.core.utils.UtilsTool@camelToUnderline(condition.field.fieldName)}
        <choose>
          <when test="condition.operator==@com.bcx.plat.core.morebatis.substance.condition.Operator@EQUAL">
            = #{condition.value}
          </when>
          <when test="condition.operator==@com.bcx.plat.core.morebatis.substance.condition.Operator@LIKE_LEFT">
            like concat('%',#{condition.value})
          </when>
          <when test="condition.operator==@com.bcx.plat.core.morebatis.substance.condition.Operator@LIKE_RIGHT">
            like concat(#{condition.value},'%')
          </when>
          <when test="condition.operator==@com.bcx.plat.core.morebatis.substance.condition.Operator@LIKE_FULL">
            like concat('%',#{condition.value},'%')
          </when>
          <when test="condition.operator==@com.bcx.plat.core.morebatis.substance.condition.Operator@IN">
            <choose>
              <when test="condition.value.size>0">
                in
                <foreach close=")" collection="condition.value" item="v" open="(" separator=",">
                  #{v}
                </foreach>
              </when>
              <otherwise>
                !=${condition.field.fieldName}
              </otherwise>
            </choose>
          </when>
          <otherwise>
            unsupported operator error
          </otherwise>
        </choose>
      </foreach>
    </where>
    order by create_time desc
  </select>


  <insert id="insert" parameterType="com.bcx.plat.core.morebatis.InsertAction">
    ${valuesRefresh}
    insert into ${tableSource.tableSourceSqlFragment}
    <foreach close=")" collection="columns" item="column" open="(" separator=",">
      ${@com.bcx.plat.core.utils.UtilsTool@camelToUnderline(column)}
    </foreach>
    VALUES
    <foreach collection="values" item="row" separator=",">
      <foreach close=")" collection="row" item="rowValue" open="(" separator=",">
            #{rowValue}
      </foreach>
    </foreach>
  </insert>

  <update id="update" parameterType="com.bcx.plat.core.morebatis.UpdateAction">
    UPDATE ${tableSource.tableSourceSqlFragment} SET
    <foreach collection="values" index="field" item="value" separator=",">
      ${@com.bcx.plat.core.utils.UtilsTool@camelToUnderline(field)} = #{value}
    </foreach>
    <where>
      <foreach collection="where" item="condition">
        AND ${@com.bcx.plat.core.utils.UtilsTool@camelToUnderline(condition.field.fieldName)}
        <choose>
          <when
            test="condition.operator==@com.bcx.plat.core.morebatis.substance.condition.Operator@EQUAL">
            = #{condition.value}
          </when>
          <when
            test="condition.operator==@com.bcx.plat.core.morebatis.substance.condition.Operator@LIKE_LEFT">
            like concat('%',#{condition.value})
          </when>
          <when
            test="condition.operator==@com.bcx.plat.core.morebatis.substance.condition.Operator@LIKE_RIGHT">
            like concat(#{condition.value},'%')
          </when>
          <when
            test="condition.operator==@com.bcx.plat.core.morebatis.substance.condition.Operator@LIKE_FULL">
            like concat('%',concat(#{condition.value},'%'))
          </when>
          <when
            test="condition.operator==@com.bcx.plat.core.morebatis.substance.condition.Operator@IN">
            <choose>
              <when test="condition.value.size>0">
                in
                <foreach close=")" collection="condition.value" item="v" open="(" separator=",">
                  #{v}
                </foreach>
              </when>
              <otherwise>
                !=${condition.field.fieldName}
              </otherwise>
            </choose>
          </when>
          <otherwise>
            unsupported operator error
          </otherwise>
        </choose>
      </foreach>
    </where>
  </update>

  <delete id="delete">
    delete FROM ${tableSource.tableSourceSqlFragment}
    <where>
      <foreach collection="where" item="condition">
        AND ${@com.bcx.plat.core.utils.UtilsTool@camelToUnderline(condition.field.fieldName)}
        <choose>
          <when
            test="condition.operator==@com.bcx.plat.core.morebatis.substance.condition.Operator@EQUAL">
            = #{condition.value}
          </when>
          <when
            test="condition.operator==@com.bcx.plat.core.morebatis.substance.condition.Operator@LIKE_LEFT">
            like concat('%',#{condition.value})
          </when>
          <when
            test="condition.operator==@com.bcx.plat.core.morebatis.substance.condition.Operator@LIKE_RIGHT">
            like concat(#{condition.value},'%')
          </when>
          <when
            test="condition.operator==@com.bcx.plat.core.morebatis.substance.condition.Operator@LIKE_FULL">
            like concat('%',concat(#{condition.value},'%'))
          </when>
          <when
            test="condition.operator==@com.bcx.plat.core.morebatis.substance.condition.Operator@IN">
            <choose>
              <when test="condition.value.size>0">
                in
                <foreach close=")" collection="condition.value" item="v" open="(" separator=",">
                  #{v}
                </foreach>
              </when>
              <otherwise>
                !=#{condition.field.fieldName}
              </otherwise>
            </choose>
          </when>
          <otherwise>
            unsupported operator error
          </otherwise>
        </choose>
      </foreach>
    </where>
  </delete>
</mapper>