<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bcx.plat.core.database.action.mapper.BaseMapper">
    <sql id="condition">

    </sql>
    <select id="currval" parameterType="QueryAction" resultType="int">
	SELECT
        <foreach collection="columns" item="column">
            <if test="column.fieldAliesSqlFragment==null or column.fieldAliesSqlFragment.length==0">

            </if>
        </foreach>
    FROM qrs_sequence  
    WHERE table_name =#{name}
	</select>
</mapper>