<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html{
            overflow: hidden;
        }
    </style>
    <script src="WebUI/Public/publicjs.js"></script>
</head>
<body>
  <div id="app">
      <el-row :gutter="10" >
          <el-col :span="12" style="border:1px solid #00aaee">
              <el-col :span="14">
                  <el-input style="margin-top: 20px;margin-left:-5px"
                          placeholder="请输入文字"
                          icon="search"
                          v-model="input2"
                          :on-icon-click="handleIconClick">
                  </el-input>
              </el-col>
              <el-table style="margin-top: 80px;"
                      :data="tableData4"
                      :height="height"
                       border
                       highlight-current-row
                      @current-change="handleCurrentChange"
                      style="width: 100%">
                  <el-table-column
                          prop="demo1"
                          label="日期"
                         >
                  </el-table-column>
                  <el-table-column
                          prop="demo2"
                          label="姓名"
                         >
                  </el-table-column>
                  <el-table-column
                          prop="id"
                          label="省份"
                         >
                  </el-table-column>
                  <el-table-column
                          fixed="right"
                          label="操作"
                         >
                      <template scope="scope">
                          <el-button
                                  @click.native.prevent="deleteRow(scope.$index, tableData4)"
                                  type="text"
                                  size="small">
                              移除
                          </el-button>
                      </template>
                  </el-table-column>
              </el-table>
              <div class="block" style="margin:10px 0 10px 460px">
                  <el-pagination
                          layout="prev, pager, next"
                          :total="50">
                  </el-pagination>
              </div>
          </el-col>
          <el-col :span="12">
                  <el-col :span="12" :offset="13" style="margin-top:20px;" >
                      <span class="wrapper">
                        <el-button type="info" >新增<i class="el-icon-plus el-icon--right"></i></el-button>
                        <el-button type="info">编辑<i class="el-icon-edit el-icon--right"></i></el-button>
                        <el-button type="danger">删除<i class="el-icon-delete2 el-icon--right"></i></el-button>
                      </span>
                   </el-col>
              <el-col :span="24" style="margin-top:20px">
                  <el-table
                      :data="tableData3"
                      style="width: 100%"
                      height="600">
                  <el-table-column
                          prop="date"
                          label="日期"
                          >
                  </el-table-column>
                  <el-table-column
                          prop="city"
                          label="市区"
                         >
                  </el-table-column>
                  <el-table-column
                          prop="address"
                          label="地址"
                          >
                  </el-table-column>
                  <el-table-column
                          prop="zip"
                          label="邮编"
                         >
                  </el-table-column>
              </el-table>
              </el-col>
          </el-col>
      </el-row>
  </div>
</body>
<script>
    var vm = new Vue({
        el:'#app',
        data(){
            return {
                input2: '',
                height: '',
                tableData4: [],
                tableData3: []
            }
            },
        methods:{
            handleIconClick(){
                this.$http.jsonp('http://192.168.100.193//GMPlat/base',{
                    id:vm.input2
                },{
                    jsonp:'jsonpCallback'
                }).then(function(res){
                    console.log(res.data);
                    for(var i=0;i<res.data.length;i++){
                        var obj = {};
                        obj.data=res.data.s[i];
                        this.myData4.push(obj);
                    }
                },function(){
                    alert("error")
                });
            },
            deleteRow(index, rows) {
                rows.splice(index, 1);
            },
            handleCurrentChange(val) {
                this.currentRow = val;
            }
        }
    })
    $(document).ready(function(){
        vm.height=$(window).height()-150;
        });
    $(window).resize(function(){
        vm.height=$(window).height()-150;
    })
</script>
</html>