<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event_Add</title>
    <style>
        #connectTable .el-row {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<el-row id="connectTable" style="padding:0 10px 10px 10px">
    <el-col :span="24">
        <template>
            <el-table :data="myLeftData" :height="400"  border style="width: 100%;border-radius: 5px;margin-top:10px">
                <el-table-column  prop="desp" label="对象代码" width="">
                </el-table-column>
                <el-table-column  prop="tableCName" label="对象名称" width="">
                </el-table-column>
                <el-table-column  prop="tableEName" label="关联表" width="">
                </el-table-column>
                <el-table-column  prop="tableSchema" label="版本" width="">
                </el-table-column>
            </el-table>
        </template>
    </el-col>
    <el-col style="margin-top:15px">
        <el-col :span="11" style="text-align:right">
            <el-button type="primary" @click.native="conformEvent">确定</el-button>
        </el-col>
        <el-col :span="11" style="text-align: left" :offset="2">
            <el-button type="primary" @click.native="cancel">取消</el-button>
        </el-col>
    </el-col>
</el-row>
</body>
<script>
    var em=new Vue({
        el:'#connectTable',
        data:{
            myLeftData:[]
        },
        created(){
            this.$http.jsonp(serverPath+"/maint/select",{
                str:''
            },{
                jsonp:'callback'
            }).then(function(res){
                console.log(res.data.content.data);
                for(var i=0;i<res.data.content.data.length;i++){
                    var obj = {};
                    obj.data=res.data.content.data[i];
                    console.log(obj)
                    this.myLeftData.push(obj.data);
                }
            });
        },
        methods:{
            conformEvent(){

            },
            cancel(){
                ibcpLayer.Close(littledivIndex);
            }
        }
    })
</script>
</html>