<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event_Add</title>
    <style>
        #addEvent .el-row {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div id="addEvent" style="margin-top:20px">
    <el-row justify="center" type="flex">
        <el-col :span="22">
            <div>
                <el-input placeholder="请输入对象代码" v-model="input"  ref="input">
                    <template slot="prepend">对象代码</template>
                </el-input>
            </div>
        </el-col>
    </el-row>
    <el-row justify="center" type="flex">
        <el-col :span="22">
            <div>
                <el-input placeholder="请输入对象名称" v-model="input1" ref="input1">
                    <template slot="prepend">对象名称</template>
                </el-input>
            </div>
        </el-col>
    </el-row>
    <el-row justify="center" type="flex">
        <el-col :span="22">
            <div>
                <el-input placeholder="请选择关联表" v-model="input2" ref="input2">
                    <el-button slot="append" icon="search" @click="searchConnectTable"></el-button>
                </el-input>
            </div>
        </el-col>
    </el-row>
    <el-row justify="center" type="flex">
        <el-col :span="22">
            <div>
                <el-input placeholder="版本号" readonly>
                    <template slot="prepend">版&nbsp;本&nbsp;号&nbsp;</template>
                </el-input>
            </div>
        </el-col>
    </el-row>
    <el-row >
        <el-col :span="11" style="text-align:right">
                <el-button type="primary" @click.native="conformEvent">确定</el-button>
        </el-col>
        <el-col :span="11" style="text-align: left" :offset="2">
                <el-button type="primary" @click.native="cancel">取消</el-button>
        </el-col>
    </el-row>
</div>
<script>
    var em=new Vue({
        el:'#addEvent',
        data: function () {
            return { input:'',input1:'',input2:''}
        },
        methods:{
            searchConnectTable(){
                    var htmlUrl = 'connectTable.html';
                    littledivIndex = ibcpLayer.ShowDiv(htmlUrl, '关联表数据', '600px', '540px', function(){


                    })
            },
            conformEvent(){
                var datas=[this.$refs.input,this.$refs.input1,this.$refs.input2];
                for(var i=0;i<datas.length;i++){
                    if(datas[i].value==''){
                        ibcpLayer.ShowMsg(datas[i].placeholder);
                        return;
                    }
                }
                this.$http.jsonp(serverPath+"/busin/insert",{
                    objectCode:em.input,
                    objectName:em.input1,
                    relateTableRowId:em.input2,
                },{
                    jsonp:'callback'
                }).then(function(res){
                    console.log(res);

                },function(){
                    alert("error")
                });
            },
            cancel(){
                ibcpLayer.Close(divIndex);
            }
        }
    })
</script>
</body>
</html>