<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>权限信息维护</title>
    <script src="../Public/publicjs.js"></script>
    <style>
        html{
            overflow: hidden;
        }
        .el-icon-delete{
            color: white;
        }
        .el-select{
            width: 100px;
        }
    </style>
</head>
<body>
<div id="basTop">
    <el-row type="flex" justify="end">
        <el-col :span="24">
            <el-button type="info" icon="plus" size="small" @click.native="addEvent" v-bind:disabled="addOpe">添加权限信息</el-button>
            <el-button type="danger" icon="delete" size="small" @click.native="orgDelete" v-bind:disabled="disabled">删除权限信息</el-button>
        </el-col>
    </el-row>
</div>
<div class="allBorder">
    <el-col :span="2" id="left">
        <div class="allBorder" id="allBorderHeight" style="height:500px; border:none;margin-left: -50px;">
            <el-row>
                <el-col>
                    <div style="padding: 10px 0 10px 20px;">
                        <el-col style="padding:10px 0">
                            <base-tree :initial="treeData" ref="org" @click-node="getNodes" @checked-node="getChecked"></base-tree>
                        </el-col>
                    </div>
                </el-col>
            </el-row>
        </div>
    </el-col>

    <el-col :span="22" id="rightBottom" style="margin-top:20px;padding-left: 25px;">
        <div class="allBorder" style="border: none">
            <el-row>
                <el-col>
                    <div style="">
                        <el-tabs v-model="activeName" @tab-click="handleClick" type="card">
                            <el-tab-pane label="权限信息" name="first">
                                <div>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-row style="margin-bottom: 10px">
                                                <el-col :span="8">
                                                    <div>
                                                        <el-input placeholder="请输入内容" v-model="searchInput">
                                                            <el-select clearable slot="prepend" placeholder="请选择" v-model="select">
                                                                <el-option label="编号" value="permissionId"></el-option>
                                                                <el-option label="名称" value="permissionName"></el-option>
                                                            </el-select>
                                                            <el-button slot="append" icon="search" @click="searchClick"></el-button>
                                                        </el-input>
                                                    </div>
                                                </el-col>
                                            </el-row>
                                            <el-row>
                                                <el-table ref="myData"
                                                          :data="tableData"
                                                          @row-click="firstClick" border style="width: 100%"
                                                          :highlight-current-row="true"
                                                          :height="leftHeight"
                                                          v-loading="loading"
                                                          element-loading-text="加载中">
                                                    <el-table-column show-overflow-tooltip sortable="custom" prop="permissionId" label="权限编号" width="">
                                                    </el-table-column>
                                                    <el-table-column show-overflow-tooltip sortable="custom" prop="permissionName" label="权限名称" width="250">
                                                    </el-table-column>
                                                    <el-table-column show-overflow-tooltip sortable="custom" prop="permissionType" label="权限类型" width="">
                                                    </el-table-column>
                                                    <el-table-column show-overflow-tooltip sortable="custom" prop="desc" label="描述" width="250">
                                                    </el-table-column>
                                                    <el-table-column show-overflow-tooltip sortable="custom" prop="remarks" label="备注" width="250">
                                                    </el-table-column>
                                                </el-table>
                                            </el-row>
                                        </el-col>
                                    </el-row>
                                </div>
                                <el-row type="flex" justify="end" style="padding-top:10px" class="block">
                                    <el-pagination
                                            @size-change="handleSizeChange"
                                            @current-change="handleCurrentChange"
                                            :current-page="pageNum"
                                            :page-sizes="[5,10,20]"
                                            :page-size="pageSize"
                                            layout="total, sizes, prev, pager, next, jumper"
                                            :total="allDate">
                                    </el-pagination>
                                </el-row>
                            </el-tab-pane>
                            <el-tab-pane label=" 角色信息" name="second">
                                <el-row id="basRightTop"></el-row>
                            </el-tab-pane>
                        </el-tabs>
                    </div>
                </el-col>
            </el-row>
        </div>
    </el-col>
</div>

<template id="tempBlock">
    <el-row>
        <el-col :span="24">
            <el-row style="margin-bottom: 10px">
                <el-col :span="8">
                    <div>
                        <el-input placeholder="请输入内容" v-model="searchInput">
                            <el-select clearable slot="prepend" placeholder="请选择" v-model="select">
                                <el-option label="编号" value="roleId"></el-option>
                                <el-option label="名称" value="roleName"></el-option>
                                <el-option label="类型" value="roleType"></el-option>
                            </el-select>
                            <el-button slot="append" icon="search" @click="searchClick"></el-button>
                        </el-input>
                    </div>
                </el-col>
            </el-row>
            <el-row>
                <el-col  id="basRightTop">
                    <el-table ref="myData"
                              :data="tableData"
                              @row-click="twoClick" border style="width: 100%"
                              :highlight-current-row="true"
                              :height="leftHeight"
                              v-loading="loading"
                              element-loading-text="加载中">
                        <el-table-column show-overflow-tooltip sortable="custom" prop="roleId" label="角色编号" width="250">
                        </el-table-column>
                        <el-table-column show-overflow-tooltip sortable="custom" prop="roleName" label="角色名称" width="250">
                        </el-table-column>
                        <el-table-column show-overflow-tooltip sortable="custom" prop="roleType" label="角色类别" width="">
                        </el-table-column>
                        <el-table-column show-overflow-tooltip sortable="custom" prop="desc" label="描述" width="">
                        </el-table-column>
                        <el-table-column show-overflow-tooltip sortable="custom" prop="remarks" label="备注" width="">
                        </el-table-column>
                    </el-table>
                    <el-row type="flex" justify="end" style="padding-top:10px" class="block">
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page="pageNum"
                                :page-sizes="[5,10,20]"
                                :page-size="pageSize"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="allDate">
                        </el-pagination>
                    </el-row>
                </el-col>
            </el-row>
        </el-col>
    </el-row>
</template>

<script src="permissions-information.js"></script>
</body>
</html>