<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #addEvent .el-row {
            margin-top: 20px;
        }
        .el-select-dropdown {
            z-index: 900000000 !important;
        }
    </style>
</head>
<body>
<div id="addEventProp" style="margin-top:20px">
    <el-form :label-position="labelPosition" label-width="100px"  :model="addTempPropObj" ref='addTempPropObj'
             style="padding:0 20px" class="demo-ruleForm">
        <el-form-item label="代码" prop="codeInput">
            <el-input placeholder="代码" v-model="addTempPropObj.codeInput" disabled></el-input>
        </el-form-item>
        <el-form-item label="英文名称" prop="engNameInput">
            <el-input placeholder="请输入英文名称" v-model="addTempPropObj.engNameInput"></el-input>
        </el-form-item>
        <el-form-item label="中文名称" prop="chnNameInput">
            <el-input placeholder="请输入中文名称" v-model="addTempPropObj.chnNameInput"></el-input>
        </el-form-item>

        <el-form-item label="值类型">
            <single-selection @change-data="getValueType_1"  :initial="valueType_1" ref="valueType_1">
                <!---->
            </single-selection>
        </el-form-item>

        <el-form-item label="默认值" prop="default">
            <el-input placeholder="请输入默认值" v-model="addTempPropObj.default"></el-input>
        </el-form-item>
        <el-form-item label="说明" prop="comContent">
            <el-input type="textarea" placeholder="请输入说明" v-model="addTempPropObj.comContent"></el-input>
        </el-form-item>
    </el-form>
    <el-row>
        <el-col :span="11" style="text-align:right">
            <el-button type="primary" size="small" @click.native="saveTempProp">保存</el-button>
        </el-col>
        <el-col :span="11" style="text-align: left" :offset="2">
            <el-button type="primary" size="small" @click.native="cancelTempProp">取消</el-button>
        </el-col>
    </el-row>
</div>

<script src="template-add-prop.js"></script>
</body>
</html>