<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcx.plat.core.mapper.BusinessObjectProMapper">

  <select id="select" resultType="com.bcx.plat.core.entity.BusinessObjectPro" parameterType="hashMap">
    SELECT
    tp.row_id,tp.property_code,tp.property_name,tp.relate_table_column,tp.value_type,
    tp.value_resource_type,tp.value_resource_content,tp.wether_expand_pro,tp.create_time
    FROM t_business_object_pro AS tp
    LEFT JOIN t_business_object as tt
    ON tt.row_id=tp.relate_table_column
    <where>
      <if test="strArr!=null and strArr.size()!=0">
        <foreach collection="strArr" index="index" separator="or" item="item" open="(" close=")">
           tp.property_code like '%${item}%' or tp.property_name like '%${item}%'
        </foreach>
      </if>
      <if test="rowId!=null and rowId.length()!=0">
        AND tp.obj_row_id= #{rowId}
      </if>
      <if test="rowIds!=null and rowIds.length()!=0">
        and tp.row_id = #{rowIds}
      </if>
    </where>
    order by tp.create_time desc
  </select>

  <insert id="insert" parameterType="com.bcx.plat.core.entity.BusinessObjectPro">
    INSERT INTO
    t_business_object_pro
    ( row_id,property_code,property_name,relate_table_column,value_type,
    value_resource_type,value_resource_content,wether_expand_pro,"obj_row_id",
    <include refid="com.bcx.plat.core.base.BaseMapper.common_columns_select"/>)
    VALUES
    (#{rowId},#{propertyCode},#{propertyName},#{relateTableColumn},
    #{valueType},#{valueResourceType},#{valueResourceContent},#{wetherExpandPro},#{objRowId},
    <include refid="com.bcx.plat.core.base.BaseMapper.common_columns_insert"/>)
  </insert>

  <delete id="delete" parameterType="string">
    DELETE FROM t_business_object_pro WHERE row_id=#{rowId}
  </delete>


  <delete id="deleteRelateCol" parameterType="String">
    DELETE FROM t_business_object_pro where relate_table_column =#{rowId}
  </delete>

</mapper>