<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcx.plat.core.mapper.BusinessObjectMapper">


  <select id="select" resultType="com.bcx.plat.core.entity.BusinessObject" parameterType="hashMap">
    SELECT
    tt.row_id,tt.object_code,tt.object_name,tt.relate_table_row_id,
    tt."status",tt.version, tt.create_user, tt.create_user_name, tt.create_time,tt.modify_user,
    tt.modify_user_name, tt.modify_time, tt.delete_user, tt.delete_user_name, tt.delete_time,
    tt.delete_flag
    ,ts.table_schema,ts.table_cname,ts.row_id as proRowId
    FROM t_business_object tt LEFT JOIN t_db_tables ts ON tt.relate_table_row_id = ts.row_id
    <where>
      <if test="strArr!=null and strArr.size()!=0">
        <foreach collection="strArr" item="str" index="index" open="(" close=")" separator="or">
          object_code like '%${str}%' or object_name like '%${str}%' or relate_table_row_id like
          '%${str}%'
        </foreach>
      </if>
    </where>
    order by create_time DESC
  </select>

  <insert id="insert" parameterType="com.bcx.plat.core.entity.BusinessObject">
    INSERT INTO
    t_business_object
    (row_id,object_code,object_name,relate_table_row_id,
    <include refid="com.bcx.plat.core.base.BaseMapper.common_columns_select"/>)
    VALUES
    (#{rowId},#{objectCode},#{objectName},#{relateTableRowId},
    <include refid="com.bcx.plat.core.base.BaseMapper.common_columns_insert"/>
    )
  </insert>

  <update id="update" parameterType="com.bcx.plat.core.entity.BusinessObject">
    UPDATE
    t_business_object
    SET
    object_name = #{objectName},
    modify_user = #{modifyUser},
    modify_user_name = #{modifyUserName},
    modify_time= #{modifyTime}
    WHERE
    row_id = #{rowId}
  </update>

  <delete id="delete" parameterType="string">
    DELETE FROM t_business_object WHERE row_id=#{rowId}
  </delete>

  <update id="updateExecuChange" parameterType="String">
    UPDATE t_business_object SET status = #{status} WHERE row_id=#{rowId}
  </update>

  <select id="selectById" parameterType="String"
    resultType="com.bcx.plat.core.entity.BusinessObject">
    SELECT
    row_id,object_code,object_name,relate_table_row_id,
    <include refid="com.bcx.plat.core.base.BaseMapper.common_columns_select"/>
    FROM t_business_object WHERE row_id=#{rowId}

  </select>
</mapper>