<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcx.plat.core.mapper.FrontFuncMapper">
    <select id="select" resultType="com.bcx.plat.core.entity.FrontFunc" parameterType="hashMap">
        SELECT
            row_id,func_code,func_name,func_type,
            relate_busi_obj,wether_available,desp,
        <include refid="com.bcx.plat.core.base.BaseMapper.common_columns_select"/>
        FROM t_front_func
        <where>
            <if test="strArr!=null and strArr.size!=0">
                <foreach collection="strArr" item="str" index="index" separator="or" open="(" close=")">
                    func_code like '%${str}%' or func_name like '%${str}%' or func_type like '%${str}%'
                </foreach>
            </if>
        </where>
        order by create_time DESC
    </select>


    <insert id="insert" parameterType="com.bcx.plat.core.entity.FrontFunc">
        INSERT INTO t_front_func
        (
        row_id, func_code, func_name, func_type,
         relate_busi_obj, wether_available, desp,
         <include refid="com.bcx.plat.core.base.BaseMapper.common_columns_select"/>
        ) VALUES
        (
        #{rowId},#{funcCode},#{funcName},#{funcType},
        #{relateBusiObj},#{wetherAvailable},#{desp},
        <include refid="com.bcx.plat.core.base.BaseMapper.common_columns_insert"/>
        )
    </insert>

    <update id="update" parameterType="com.bcx.plat.core.entity.FrontFunc">
        UPDATE public.t_front_func
          SET
              func_code = #{funcCode},
              func_name = #{funcName},
              func_type = #{funcType},
              relate_busi_obj = #{relateBusiObj},
              wether_available = #{wetherAvailableObj},
              desp  = #{desp},
              <include refid="com.bcx.plat.core.base.BaseMapper.common_columns_update"/>
        WHERE row_id  = #{rowId}
    </update>

    <delete id="delete" parameterType="String">
        DELETE FROM t_front_func WHERE row_id = #{rowId}
    </delete>
</mapper>