<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcx.plat.core.mapper.KeySetMapper">
    <select id="select" resultType="com.bcx.plat.core.entity.KeySet" parameterType="hashMap">
        SELECT row_id,keyset_code,keyset_name,conf_key,conf_value,desp,
        <include refid="com.bcx.plat.core.base.BaseMapper.common_columns_select"/>
        FROM  t_keyset
        <where>
            <if test="strArr!=null and strArr.size()!=0">
                <foreach collection="strArr" separator="or" item="item" index="index" open="(" close=")">
                    keyset_code like '%${item}%' or keyset_name like '%${item}%'
                </foreach>
            </if>
            <if test="rowId!=null and rowId.length()!=0">
                AND row_id=#{rowId}
            </if>
        </where>
        order by create_time desc
    </select>

    <insert id="insert" parameterType="com.bcx.plat.core.entity.KeySet">
        INSERT INTO t_keyset
        (
        row_id, keyset_code, keyset_name, conf_key, conf_value, desp,
        <include refid ="com.bcx.plat.core.base.BaseMapper.common_columns_select"/>
        )
        VALUES
        (
        #{rowId},#{keySetCode},#{keySetName},#{confKey},#{confValue},#{desp},
        <include refid="com.bcx.plat.core.base.BaseMapper.common_columns_insert"/>
        )
    </insert>

    <update id="update" parameterType="com.bcx.plat.core.entity.KeySet">
        UPDATE t_keyset SET
            keyset_name = #{keySetName},
            conf_key = #{confKey},
            conf_value = #{confValue},
            desp = #{desp},
            modify_user = #{modifyUser},
            modify_user_name = #{modifyUserName},
            modify_time = #{modifyTime}
        WHERE row_id = #{rowId}
    </update>

    <delete id="delete" parameterType="String">
        DELETE FROM
            t_keyset
        WHERE
            row_id = #{rowId}
    </delete>
</mapper>