<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcx.plat.core.mapper.MaintTableMapper">

    <sql id="template_column">
        status,'version',create_user,create_user_name,create_time,modify_user,
        modify_user_name,modify_time,delete_user,delete_user_name,delete_time,delete_flag
    </sql>
    <sql id="template_column_p">
       #{status},#{version},#{createUser},#{createUserName},#{createTime},#{modifyUser},#{modifyUserName},
        #{modifyTime},#{deleteUser},#{deleteUserName},#{deleteTime},#{deleteFlag}
    </sql>

    <select id="selectMaint" resultType="com.bcx.plat.core.entity.MaintTableInfo" parameterType="map">
        SELECT row_id,table_schema,table_ename,table_cname,desp,<include refid="template_column"/> FROM t_db_tables
        <where>
            <if test="strArr!=null and strArr.size()!=0">
                <foreach collection="strArr" item="str" index="index" open="(" close=")" separator="or">
                    table_schema like '%${str}%' or table_ename like '%${str}%' or table_cname like '%${str}%'
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectById" parameterType="int" resultType="com.bcx.plat.core.entity.MaintTableInfo">
        SELECT table_schema,table_ename,table_cname,desp ,<include refid="template_column"/> FROM t_db_tables WHERE row_id=#{rowId}
    </select>

</mapper>
