<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcx.plat.core.mapper.MaintTableMapper">


    <sql id="template_column">
        row_id,status,'version',create_user,create_name,create_date,modify_user,
        modify_name,modify_date,delete_uer,delete_name,delete_date,delete_flag
    </sql>
    <sql id="template_column_p">
        #{rowId},#{status},#{version},#{createUser},#{createName},#{createDate},#{modifyUser},#{modifyName},
        #{modifyDate},#{deleteUser},#{deleteName},#{deleteDate},#{deleteFlag}
    </sql>



    <select id="selectMaint" resultType="com.bcx.plat.core.entity.MaintTableInfo" parameterType="map">
        SELECT schema,table_ename,table_cname,explain ,<include refid="template_column"/> FROM bcx_maint_table
        <where>
            <if test="strArr!=null and strArr.size()!=0">
                <foreach collection="strArr" item="str" index="index" open="(" close=")" separator="or">
                    schema like '%${str}%' or table_ename like '%${str}%' or table_cname like '%${str}%'
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectById" parameterType="int" resultType="com.bcx.plat.core.entity.MaintTableInfo">
        SELECT schema,table_ename,table_cname,explain ,<include refid="template_column"/> FROM bcx_maint_table WHERE row_id=#{rowId}
    </select>



</mapper>
