<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcx.plat.core.mapper.SequenceRuleConfigMapper">

  <select id="select" parameterType="hashMap"
    resultType="com.bcx.plat.core.entity.SequenceRuleConfig">
    SELECT
    *
    FROM public.t_sequence_rule_config
    <where>
      (delete_flag IS NULL OR delete_flag!='1')
      <if test="strArr != null and strArr.size() != 0">
        AND
        <foreach collection="strArr" close=")" index="index" item="item" open="(" separator="OR">
          (seq_code like '%${item}%' OR seq_name like '%${item}%' OR desp like '%${item}%' OR
          seq_content like '%${item}%')
        </foreach>
      </if>
      <if test="rowId != null and rowId != ''">
        AND row_id = #{rowId}
      </if>
    </where>
  </select>

  <update id="update" parameterType="com.bcx.plat.core.entity.SequenceRuleConfig">
    UPDATE public.t_sequence_rule_config
    SET
      seq_code         = #{seqCode},
      seq_name         = #{seqName},
      seq_content      = #{seqContent},
      desp             = #{desp},

      modify_user      = #{modifyUser},
      modify_user_name = #{modifyUserName},
      modify_time      = #{modifyTime}
    WHERE
      row_id = #{rowId}
  </update>

  <insert id="insert" parameterType="com.bcx.plat.core.entity.SequenceRuleConfig">
    INSERT INTO public.t_sequence_rule_config
    (row_id, seq_code, seq_name, seq_content, desp,
    <include refid="com.bcx.plat.core.base.BaseMapper.common_columns_select"/>)
    VALUES
    (#{rowId}, #{seqCode}, #{seqName}, #{seqContent}, #{desp},
    <include refid="com.bcx.plat.core.base.BaseMapper.common_columns_select"/>
    )
  </insert>

  <delete id="batchDelete" parameterType="hashMap">
    DELETE FROM public.t_sequence_rule_config
    <where>
      <if test="null != null and rowIds.size() != 0">
        AND row_id in
        <foreach collection="rowIds" separator="," open="(" item="item" close=")">
          #{item}
        </foreach>
      </if>
    </where>
  </delete>
</mapper>