<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcx.plat.core.mapper.TableColumnInfoMapper">

    <sql id="common_column">
        row_id, "status", "version", create_user, create_name, create_date, modify_user,
        modify_name, modify_date, delete_uer, delete_name, delete_date, delete_flag
    </sql>


</mapper>