<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event_Add</title>
    <style>

        .el-select-dropdown {
            z-index: 900000000 !important;
        }

        input {
            -webkit-user-select: auto !important;
        }
        .demo_line{
            padding: 0 10px 0;
            margin: 0 0 10px 0;
            position: relative;
        }
        .demo_line hr{
            width:83%;
            position: absolute;
            right:6%;
            top:25%;
            border:1px solid #ddd
        }
        .demo_line>span{
            font-size:12px;
            font-weight: bold;
        }
        .el-form-item__label{
            font-size:12px;
        }
        form .el-input__inner{
            font-size:12px;
        }
        form .el-form-item {
            margin-bottom: 16px;
        }
        form .el-form-item__label{
           width:115px !important;
        }
        form .el-form-item__content{
            margin-left:120px !important;
        }
    </style>
</head>
<body>
<div id="addProEvent" style="margin-top:20px">
    <el-form  label-width="120px"
             style="padding:0 20px" class="demo-ruleForm">
        <div class="demo_line">
            <hr>
            <span>基本信息</span>
        </div>
        <el-row class="row-bg">
            <el-col :span="11">
                <el-form-item label="用户姓名" prop="name">
                    <el-input placeholder="请输入用户姓名" v-model="name" ref="name"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="10">
                <el-form-item label="性别" prop="gender">
                    <el-select v-model="gender" placeholder="请选择性别" clearable >
                        <el-option value="男" label="男"></el-option>
                        <el-option value="女" label="女"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row class="row-bg">
            <el-col :span="11">
                <el-form-item label="身份证" prop="idCard">
                    <el-input placeholder="请输入身份证" v-model="idCard" ref="idCard"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="10">
                <el-form-item label="入职日期" prop="hiredate">
                    <el-date-picker
                            v-model="hiredate"
                            type="date"
                            format="yyyy-MM-dd"
                            @change="getTime"
                            placeholder="选择日期"
                            :picker-options="pickerOptions0">
                    </el-date-picker>
                </el-form-item>
            </el-col>
        </el-row>
        <div class="demo_line"><hr><span>账号信息</span></div>
        <el-row class="row-bg">
            <el-col :span="11">
                <el-form-item label="用户昵称" prop="nickname">
                    <el-input placeholder="请输入用户昵称" v-model="nickname" ref="nickname"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="10">
                <el-form-item label="所属部门" prop="belong" class="demo-input-suffix">
                        <select-tree :initial="config" @select-node="getNodeId" @click-node="getNodes" @checked-node="getChecked" @clear="clear"></select-tree>
                </el-form-item>
            </el-col>
        </el-row>

        <el-row class="row-bg">
            <el-col :span="11">
                <el-form-item label="邮箱" prop="email">
                    <el-input placeholder="请输入邮箱" v-model="email" ref="email"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="10">
                <el-form-item label="初始密码" prop="password">
                    <el-input placeholder="请输入用户姓名" v-model="password" ref="password"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row class="row-bg">
            <el-col :span="11">
                <el-form-item label="职务" prop="job">
                    <el-input placeholder="请输入职务" v-model="job" ref="job"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="10">
                <el-form-item label="用户工号" prop="id">
                    <el-input placeholder="请输入用户工号" v-model="id" ref="id"></el-input>
                </el-form-item>
            </el-col>
        </el-row>

        <div class="demo_line"><hr><span>联系信息</span></div>
        <el-row class="row-bg">
            <el-col :span="11">
                <el-form-item label="移动电话" prop="mobilePhone">
                    <el-input placeholder="请输入移动电话" v-model="mobilePhone" ref="mobilePhone"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="10">
                <el-form-item label="办公电话" prop="officePhone">
                    <el-input placeholder="请输入办公电话" v-model="officePhone" ref="officePhone"></el-input>
                </el-form-item>
            </el-col>
        </el-row>

        <div class="demo_line"><hr><span>其他信息</span></div>

        <el-row class="row-bg">
            <el-col :span="24">
                <el-form-item label="说明" prop="description">
                    <el-input type="textarea" :rows="1" placeholder="请输入说明" v-model="description" ref="description">
                    </el-input>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item label="备注" prop="remarks">
                    <el-input type="textarea" :rows="1" placeholder="请输入备注" v-model="remarks" ref="remarks">
                    </el-input>
                </el-form-item>
            </el-col>
        </el-row>

    </el-form>
    <el-row>
        <el-col :span="11" style="text-align:right">
            <el-button type="primary" size="small" @click.native="conformEvent">保存</el-button>
        </el-col>
        <el-col :span="11" style="text-align: left" :offset="2">
            <el-button type="primary" size="small" @click.native="cancel">取消</el-button>
        </el-col>
    </el-row>
</div>
<script src="personnel_add.js"></script>
</body>
</html>