<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .demo{
            padding:10px 10px;
        }
    </style>
</head>
<body>
<div id="perExport" style="margin:20px 30px">
        <div>
            <el-col :span="8" class="demo"><el-checkbox v-model="employeeNo" label="用户工号" border></el-checkbox></el-col>
            <el-col :span="8" class="demo"><el-checkbox v-model="employeeName" label="用户姓名" border></el-checkbox></el-col>
            <el-col :span="8" class="demo"><el-checkbox v-model="employeeNickname" label="用户昵称" border></el-checkbox></el-col>
        </div>
        <div>
            <el-col :span="8" class="demo"><el-checkbox v-model="password" label="密码" border></el-checkbox></el-col>
            <el-col :span="8" class="demo"> <el-checkbox v-model="belongOrganization" label="所属部门" border></el-checkbox></el-col>
            <el-col :span="8" class="demo">  <el-checkbox v-model="idCard" label="身份证" border></el-checkbox></el-col>
        </div>
        <div>
             <el-col :span="8" class="demo"><el-checkbox v-model="officePhone" label="办公电话" border></el-checkbox></el-col>
             <el-col :span="8" class="demo"> <el-checkbox v-model="email" label="邮箱" border></el-checkbox></el-col>
             <el-col :span="8" class="demo"> <el-checkbox v-model="gender" label="性别" border></el-checkbox></el-col>
        </div>
    <div>
        <el-col :span="8" class="demo"><el-checkbox v-model="status" label="状态" border></el-checkbox></el-col>
        <el-col :span="8" class="demo"><el-checkbox v-model="mobilePhone" label="移动电话" border></el-checkbox></el-col>
        <el-col :span="8" class="demo"><el-checkbox v-model="job" label="职务" border></el-checkbox></el-col>
    </div>
    <div>
         <el-col :span="8" class="demo"> <el-checkbox v-model="hiredate" label="入职日期" border></el-checkbox></el-col>
         <el-col :span="8" class="demo"> <el-checkbox v-model="description" label="说明" border></el-checkbox></el-col>
         <el-col :span="8" class="demo"><el-checkbox v-model="remarks" label="备注" border></el-checkbox></el-col>
    </div>
    <div style="padding:15px 10px">
        <el-radio class="radio" v-model="radio" label="1">2013版</el-radio>
        <el-radio class="radio" v-model="radio" label="2">2017版</el-radio>
    </div>
    <div style="padding:15px 10px">
        <el-radio class="radio" v-model="radio1" label="3">全部记录</el-radio>
        <el-radio class="radio" v-model="radio1" label="4">所属记录</el-radio>
    </div>
    <el-row>
        <el-col :span="11" style="text-align:right">
            <el-button type="primary" size="small" @click.native="conformEvent">保存</el-button>
        </el-col>
        <el-col :span="11" style="text-align: left" :offset="2">
            <el-button type="primary" size="small" @click.native="cancel">取消</el-button>
        </el-col>
    </el-row>
</div>
<script>
    var personExport=new Vue({
        el:"#perExport",
        data:{
            radio:'1',
            radio1:'3',
            useSex:'',
            employeeNo:true,
            employeeName:true,
            employeeNickname:true,
            status:true,
            password:true,
            belongOrganization:true,
            idCard:true,
            mobilePhone:true,
            officePhone:true,
            email:true,
            gender:true,
            job:true,
            hiredate:true,
            description:true,
            remarks:true,
        },
        methods:{
            conformEvent(){

            },
            cancel(){

            }
        }
    })
</script>
</body>
</html>