<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event_Add</title>
    <style>
        /*#addBlock .el-row {*/
        /*margin-top: 20px;*/
        /*}*/
        .el-select .el-input{
            width:260px;
        }
        form .el-input input{
            width:260px;
        }
        .el-select-dropdown {
            z-index: 900000000 !important;
        }

    </style>
</head>
<body>
<div id="addBlock" style="margin-top:20px">
    <el-form :label-position="labelPosition" label-width="70px" :model="formTable">
        <el-row type="flex" class="row-bg">
            <el-col :span="20" :offset="1">
                <el-form-item label="代码">
                    <el-input placeholder="系统自动生成代码" v-model="formTable.codeInput"  ref="codeInput" :disabled="true"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
            <el-col :span="20" :offset="1">
                <el-form-item label="名称">
                    <el-input placeholder="请输入名称" v-model="formTable.nameInput" ref="nameInput"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
            <el-col :span="20" :offset="1">
                <el-form-item label="类型">
                    <single-selection @change-data="getFunctionBlockType_1" :initial="functionBlockType_1" ref="functionBlockType_1"></single-selection>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
            <el-col :span="20" :offset="1">
                <el-form-item label="关联对象">
                    <!--<el-input placeholder="请选择关联对象" disabled="" v-model="formTable.tableInput" ref="tableInput">-->
                        <!--<el-button slot="append" :disabled="isEdit" icon="search" @click="searchConnectObj"></el-button>-->
                    <!--</el-input>-->
                    <single-selection @change-data="getObj_1" :initial="obj_1" ref="obj_1"></single-selection>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
            <el-col :span="20" :offset="1">
                <el-form-item label="所属模块">
                    <single-selection @change-data="getBelongModule_1" :initial="belongModule_1" ref="belongModule_1"></single-selection>
                </el-form-item>
            </el-col>
        </el-row>
        <!--<el-row type="flex" class="row-bg">-->
            <!--<el-col :span="20" :offset="1">-->
                <!--<el-form-item label="所属系统">-->
                    <!--<el-input placeholder="请输入所属系统" v-model="formTable.System" ref="System"></el-input>-->
                <!--</el-form-item>-->
            <!--</el-col>-->
        <!--</el-row>-->
        <el-row type="flex" class="row-bg">
            <el-col :span="20" :offset="1">
                <el-form-item label="说明">
                    <el-input type="textarea" placeholder="请输入说明" v-model="formTable.desp"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
    </el-form>
    <el-row >
        <el-col :span="11" style="text-align:right">
            <el-button type="primary" @click.native="conformEvent">保存</el-button>
        </el-col>
        <el-col :span="11" style="text-align: left" :offset="2">
            <el-button type="primary" @click.native="cancel">取消</el-button>
        </el-col>
    </el-row>
</div>

<template id="ObjSelect">
    <el-select v-model="connectObj" clearable filterable placeholder="请选择关联对象">
        <el-option v-for="item in options"
                   :key="item.rowId"
                   :label="item.objectName"
                   :value="item.rowId">
        </el-option>
    </el-select>
</template>

</body>
<script src="add-block.js"></script>

</html>