<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event_Add</title>
    <script src="../Public/publicjs.js"></script>
    <style>
        #addData .el-row {
            margin-top: 20px;
        }
        .el-input-group__append, .el-input-group__prepend{
            color:black;
        }
        .el-checkbox__input.is-disabled+.el-checkbox__label{
            color:black;
        }
    </style>
</head>
<body>
<div id="addData" style="margin-top:20px">
    <el-row justify="center" type="flex">
        <el-col :span="22">
            <div>
                <el-input placeholder="请选择关联对象属性" v-model="tableInput" ref="tableInput" disabled="">
                    <el-button slot="append" type="primary" @click="searchConnectObj">查询</el-button>
                </el-input>
            </div>
        </el-col>
    </el-row>
    <el-row justify="center" type="flex">
        <el-col :span="22">
            <div>
                <el-input :disabled="isDisabled" placeholder="请输入名称" v-model="nameTitle" ref="nameTitle">
                    <template slot="prepend">显示标题</template>
                </el-input>
            </div>
        </el-col>
    </el-row>
    <el-row justify="center" type="flex">
        <el-col :span="8" >
            <template >
                <el-checkbox :disabled="isDisabled"  v-model="checked" @change="isChecked" style="margin-top: 5px;">是否显示</el-checkbox>
            </template>
        </el-col>
        <el-col :span="14" >
                <div>
                    <el-input :disabled="checkType" placeholder="请输入显示控件名称" v-model="nameInput" ref="nameInput">
                        <template slot="prepend">显示控件</template>
                    </el-input>
                </div>
        </el-col>
    </el-row>
    <el-row justify="center" type="flex">
        <el-col :span="11">
            <template>
                <el-checkbox :disabled="isDisabled" v-model="checkedNull">允许为空</el-checkbox>
            </template>
        </el-col>
        <el-col :span="11">
            <template>
                <el-checkbox :disabled="isDisabled" v-model="checkedReady">只读</el-checkbox>
            </template>
        </el-col>
    </el-row>
    <el-row justify="center" type="flex">
        <el-col :span="22">
            <div>
                <el-input :disabled="isDisabled" placeholder="请输入长度5-12" v-model="lengthSection" ref="lengthSection">
                    <template slot="prepend">长度区间</template>
                </el-input>
            </div>
        </el-col>
    </el-row>
    <el-row justify="center" type="flex">
        <el-col :span="22">
            <div>
                <el-input :disabled="isDisabled" placeholder="请输入验证函数" v-model="testFunction" ref="testFunction">
                    <template slot="prepend">验证函数</template>
                </el-input>
            </div>
        </el-col>
    </el-row>
    <el-row justify="center" type="flex">
        <el-col :span="22">
            <div>
                <el-input :disabled="isDisabled" placeholder="请输入显示函数" v-model="displayFunction" ref="displayFunction">
                    <template slot="prepend">显示函数</template>
                </el-input>
            </div>
        </el-col>
    </el-row>
    <el-row justify="center" type="flex">
        <el-col :span="22">
            <div>
                <el-input :disabled="isDisabled" placeholder="请输入排序顺序" v-model="sortNumber" ref="sortNumber">
                    <template slot="prepend">排序序号</template>
                </el-input>
            </div>
        </el-col>
    </el-row>
    <el-row >
        <el-col :span="11" style="text-align:right">
            <el-button type="primary" @click.native="conformEvent">确定</el-button>
        </el-col>
        <el-col :span="11" style="text-align: left" :offset="2">
            <el-button type="primary" @click.native="cancel">取消</el-button>
        </el-col>
    </el-row>
</div>
<script>
    var em=new Vue({
        el:'#addData',
        data: {
            funcRowId:'',//功能块ID
            nameTitle:'',//显示标题
            nameInput:'',//显示控件
            lengthSection:'',//长度区间
            testFunction:'',//验证函数
            displayFunction:'',//显示函数
            sortNumber:'',//排序
            tableInput:'',//关联对象属性
            dataId:'',//关联对象属性ID
            isEdit:'',//是否编辑
            rowId:'',//行ID
            checked:'',//是否显示
            checkedNull:'',//允许为空
            checkedReady:'',//只读
            checkType:true,//判断显示控件禁用或者启用
            relateBusiObjId:'',//业务对象ID
            sortArr:[],//排序数组
            url:serverPath+'/fronFuncPro/add',//新增接口
            queryUrl:serverPath+'/fronFuncPro/query',//查询功能块属性接口
            queryDataUrl:serverPath+'/businObjPro/query',//查询业务对象属性接口
            editUrl:serverPath+'/fronFuncPro/modify',//编辑功能块属性
            isDisabled:false,//是否禁用
            rightRowId:'',//右边表行ID
        },
        methods:{
            searchConnectObj(){//查询所有对象属性，弹出对象属性表
                var htmlUrl = 'choose-0bject-properties.html';
                littledivIndex = ibcpLayer.ShowIframe(htmlUrl, '关联对象属性', '450px', '500px',false);
            },
            isChecked(){//判断是否显示，选中
                if(this.checked){
                    this.checkType=false;
                }else{
                    this.checkType=true;
                }
            },
            conformEvent(){
                var data = [
                    this.$refs.tableInput,
                    this.$refs.nameTitle,
                    this.$refs.lengthSection,
                    this.$refs.testFunction,
                    this.$refs.displayFunction,
                    this.$refs.sortNumber
                ];
                for(var i=0;i<data.length;i++){
                    if(data[i].value==''){
                        ibcpLayer.ShowMsg(data[i].placeholder);
                        return;
                    }
                }
                if(!this.checkType && this.$refs.nameInput==''){
                    ibcpLayer.ShowMsg(this.$refs.nameInput.placeholder);
                    return;
                }
                //this.sortArrFun(this.sortNumber);//排序
                this.funcRowId = window.parent.mb.rowObjId;
                this.addObjectProperties();//新增
            },
            cancel(){
                parent.layer.close(window.parent.mb.divIndex);
            },
            sortArrFun(str){
                var arr=str.split(',');
                for(var i=0;i<arr.length;i++){
                    this.sortArr.push(arr[i]);
                }
            },
            addObjectProperties(){
                if(!window.parent.mb.isEdit){//新增
                    this.$http.jsonp(this.url, {
                        funcRowId:this.funcRowId,//功能块ID
                        relateBusiPro:this.dataId,//业务对象属性ID
                        displayTitle:this.nameTitle,//显示标题
                        wetherDisplay:this.checked,//是否显示
                        displayWidget:this.nameInput,//显示控件
                        wetherReadonly:this.checkedReady,//只读
                        allowEmpty:this.checkedNull,//允许为空
                        lengthInterval:this.lengthSection,//长度区间
                        validateFunc:this.testFunction,//验证函数
                        displayFunc:this.displayFunction,//显示函数
                        sort:this.sortNumber,//排序
                    }, {
                        jsonp: 'callback'
                    }).then(function (res) {
                        console.log(res.data);
                        ibcpLayer.ShowOK(res.data.message);
                        window.parent.vm.getRight(this.funcRowId);
                        parent.layer.close(window.parent.mb.divIndex);
                    },function(){
                        alert("新增属性失败！")
                    });
                }else{//编辑
                    this.$http.jsonp(this.editUrl, {
                        rowId:this.rowId,//新增属性的ID
                        funcRowId:this.funcRowId,//功能块ID
                        relateBusiPro:this.dataId,//业务对象属性ID
                        displayTitle:this.nameTitle,//显示标题
                        wetherDisplay:this.checked,//是否显示
                        displayWidget:this.nameInput,//显示控件
                        wetherReadonly:this.checkedReady,//只读
                        allowEmpty:this.checkedNull,//允许为空
                        lengthInterval:this.lengthSection,//长度区间
                        validateFunc:this.testFunction,//验证函数
                        displayFunc:this.displayFunction,//显示函数
                        sort:this.sortNumber,//排序
                    }, {
                        jsonp: 'callback'
                    }).then(function (res) {
                        ibcpLayer.ShowOK(res.data.message);
                        window.parent.vm.getRight(this.funcRowId);
                        parent.layer.close(window.parent.mb.divIndex);
                    });
                }
            }
        },
        created(){
            this.relateBusiObjId = window.parent.mb.objId;//业务对象Id
            this.rightRowId = window.parent.vm1.rowId;
            if(window.parent.mb.isEdit){//编辑
                this.funcRowId = window.parent.mb.rowObjId;
                this.$http.jsonp(this.queryUrl,{
                    "str":'',
                    "rowId":'',
                    "tables":'',
                    "proRowId":this.rightRowId,
                },{
                    jsonp:'callback'
                }).then(function (res) {
                    console.log(res.data.data);
                    this.rowId=res.data.data[0].rowId;//新增成功后返回的ID
                    this.funcRowId=res.data.data[0].funcRowId;//功能块ID
                    this.dataId=res.data.data[0].relateBusiPro;//业务对象属性ID
                    this.nameTitle=res.data.data[0].displayTitle;//显示标题
                    if(res.data.data[0].wetherDisplay){
                        this.checked=true;//是否显示
                    }
                    if(res.data.data[0].wetherReadonly){
                        this.checkedReady=true;//只读
                    }
                    if(res.data.data[0].allowEmpty){
                        this.checkedNull=true;//允许为空
                    }
                    this.nameInput=res.data.data[0].displayWidget;//显示控件
                    this.lengthSection=res.data.data[0].lengthInterval;//长度区间
                    this.testFunction=res.data.data[0].validateFunc;//验证函数
                    this.displayFunction=res.data.data[0].displayFunc;//显示函数
                    this.sortNumber=res.data.data[0].sort;//排序
                    this.isDisabled=true;
                    this.$http.jsonp(this.queryDataUrl,{
                        "rowId":'',
                        "str":'',
                        "rowIds":this.dataId
                    },{
                        jsonp:'callback'
                    }).then(function(res){
                        console.log(res.data.data);
                        this.tableInput = res.data.data[0].propertyName//业务对象属性中文名
                    },function(){
                        alert("错误！")
                    })
                },function(){
                    alert("error111")
                })
            }
        }
    })
</script>
</body>
</html>