<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event_Add</title>
    <script src="../Public/publicjs.js"></script>
    <style>
        #addData .el-row {
            margin-top: 20px;
        }
        .el-input-group__append, .el-input-group__prepend{
            color:black;
        }
        .el-checkbox__input.is-disabled+.el-checkbox__label{
            color:black;
        }
    </style>
</head>
<body>
<div id="addData" style="margin-top:20px">
    <el-row justify="center" type="flex">
        <el-col :span="22">
            <div>
                <el-input placeholder="请选择关联对象属性" v-model="tableInput" ref="tableInput" disabled="">
                    <el-button slot="append" type="primary" @click="searchConnectObj">查询</el-button>
                </el-input>
            </div>
        </el-col>
    </el-row>
    <el-row justify="center" type="flex">
        <el-col :span="22">
            <div>
                <el-input :disabled="isDisabled" placeholder="请输入名称" v-model="nameTitle" ref="nameTitle">
                    <template slot="prepend">显示标题</template>
                </el-input>
            </div>
        </el-col>
    </el-row>
    <el-row justify="center" type="flex">
        <el-col :span="8" >
            <template >
                <el-checkbox :disabled="isDisabled"  v-model="checked" @change="isChecked" style="margin-top: 5px;">是否显示</el-checkbox>
            </template>
        </el-col>
        <el-col :span="14" >
                <div>
                    <el-input :disabled="checkType" placeholder="请输入显示控件名称" v-model="nameInput" ref="nameInput">
                        <template slot="prepend">显示控件</template>
                    </el-input>
                </div>
        </el-col>
    </el-row>
    <el-row justify="center" type="flex">
        <el-col :span="11">
            <template>
                <el-checkbox :disabled="isDisabled" v-model="checkedNull">允许为空</el-checkbox>
            </template>
        </el-col>
        <el-col :span="11">
            <template>
                <el-checkbox :disabled="isDisabled" v-model="checkedReady">只读</el-checkbox>
            </template>
        </el-col>
    </el-row>
    <el-row justify="center" type="flex">
        <el-col :span="22">
            <div>
                <el-input :disabled="isDisabled" placeholder="请输入长度5-12" v-model="lengthSection" ref="lengthSection">
                    <template slot="prepend">长度区间</template>
                </el-input>
            </div>
        </el-col>
    </el-row>
    <el-row justify="center" type="flex">
        <el-col :span="22">
            <div>
                <el-input :disabled="isDisabled" placeholder="请输入验证函数" v-model="testFunction" ref="testFunction">
                    <template slot="prepend">验证函数</template>
                </el-input>
            </div>
        </el-col>
    </el-row>
    <el-row justify="center" type="flex">
        <el-col :span="22">
            <div>
                <el-input :disabled="isDisabled" placeholder="请输入显示函数" v-model="displayFunction" ref="displayFunction">
                    <template slot="prepend">显示函数</template>
                </el-input>
            </div>
        </el-col>
    </el-row>
    <el-row justify="center" type="flex">
        <el-col :span="22">
            <div>
                <el-input :disabled="isDisabled" placeholder="请输入排序顺序" v-model="sortNumber" ref="sortNumber">
                    <template slot="prepend">排序序号</template>
                </el-input>
            </div>
        </el-col>
    </el-row>
    <el-row >
        <el-col :span="11" style="text-align:right">
            <el-button type="primary" @click.native="conformEvent">确定</el-button>
        </el-col>
        <el-col :span="11" style="text-align: left" :offset="2">
            <el-button type="primary" @click.native="cancel">取消</el-button>
        </el-col>
    </el-row>
</div>
<script src="add-data.js"></script>
</body>
</html>