<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>attributeDetails</title>
    <style>
        .el-textarea.is-disabled .el-textarea__inner{
            height:100px;
        }
    </style>
</head>
<body>
<div id="attributeDetails">
    <el-form :label-position="labelPosition" label-width="80px" :model="formTable">
        <el-row type="flex" class="row-bg" style="margin-top:20px; text-align: right">
            <el-col :span="7">
                <el-form-item label="">
                    <template>
                        <el-checkbox disabled=""  v-model="formTable.checked" >是否显示</el-checkbox>
                    </template>
                </el-form-item>
            </el-col>
            <el-col :span="7">
                <el-form-item label="">
                    <template>
                        <el-checkbox disabled="" v-model="formTable.checkedNull">是否为空</el-checkbox>
                    </template>
                </el-form-item>
            </el-col>
            <el-col :span="7">
                <el-form-item label="">
                    <template>
                        <el-checkbox disabled="" v-model="formTable.checkedReady">是否只读</el-checkbox>
                    </template>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
            <el-col :span="20" :offset="1">
                <el-form-item label="长度区间">
                    <el-input disabled="" v-model="formTable.lengthSection"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
            <el-col :span="20" :offset="1">
                <el-form-item label="验证函数">
                    <el-input style="height:100px" type="textarea" disabled="" v-model="formTable.validateFunc"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
            <el-col :span="20" :offset="1">
                <el-form-item label="显示函数">
                    <el-input style="height:100px"  type="textarea" disabled="" v-model="formTable.displayFunc"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
    </el-form>
    <el-col style="margin-top:-10px">
        <el-col :span="14" style="text-align:right">
            <el-button type="primary" @click.native="conformEventClose">确定</el-button>
        </el-col>
    </el-col>
</div>
</body>
<script src="attribute-details.js"></script>
</html>