<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event_Add</title>
    <script src="../Public/publicjs.js"></script>
    <style>
        /*#addData .el-row {*/
            /*margin-top: 20px;*/
        /*}*/
        .el-input-group__append, .el-input-group__prepend{
            color:black;
        }
        .el-checkbox__input.is-disabled+.el-checkbox__label{
            color:black;
        }
    </style>
</head>
<body>
<div id="addData" style="margin-top:10px">
    <el-form :label-position="labelPosition" label-width="100px" :model="formTable">
        <el-row type="flex" class="row-bg">
            <el-col :span="20" :offset="1">
                <el-form-item label="关联对象属性">
                    <el-input placeholder="请选择关联对象属性" v-model="formTable.tableInput" disabled="" ref="tableInput">
                        <el-button slot="append" type="primary" @click="searchConnectObj" icon="search"></el-button>
                    </el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" style="margin-top:-10px;">
            <el-col :span="20" :offset="1">
                <el-form-item label="名称">
                    <el-input :disabled="isDisabled" placeholder="请输入名称" v-model="formTable.nameTitle" ref="nameTitle"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" style="margin-top:-20px; text-align: right">
            <el-col :span="7">
                <el-form-item label="">
                <template>
                    <el-checkbox :disabled="isDisabled"  v-model="checked" @change="isChecked">是否显示</el-checkbox>
                </template>
                </el-form-item>
            </el-col>
            <el-col :span="7">
                <el-form-item label="">
                <template>
                    <el-checkbox :disabled="isDisabled" v-model="checkedNull">是否为空</el-checkbox>
                </template>
                </el-form-item>
            </el-col>
            <el-col :span="7">
                <el-form-item label="">
                    <template>
                        <el-checkbox :disabled="isDisabled" v-model="checkedReady">是否只读</el-checkbox>
                    </template>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" style="margin-top:-20px;">
            <el-col :span="20" :offset="1">
                <el-form-item label="显示控件">
                    <el-input :disabled="checkType" placeholder="请输入显示控件名称" v-model="formTable.nameInput" ref="nameInput"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" style="margin-top:-10px;">
            <el-col :span="20" :offset="1">
                <el-form-item label="长度区间">
                    <el-input :disabled="isDisabled" placeholder="请输入长度5-12" v-model="formTable.lengthSection" ref="lengthSection"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" style="margin-top:-10px;">
            <el-col :span="20" :offset="1">
                <el-form-item label="验证函数">
                    <el-input type="textarea" :disabled="isDisabled" placeholder="请输入验证函数" v-model="formTable.testFunction" ref="testFunction"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" style="margin-top:-10px;">
            <el-col :span="20" :offset="1">
                <el-form-item label="显示函数">
                    <el-input type="textarea" :disabled="isDisabled" placeholder="请输入显示函数" v-model="formTable.displayFunction" ref="displayFunction"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" style="margin-top:-10px;">
            <el-col :span="20" :offset="1">
                <el-form-item label="排序序号">
                    <el-input :disabled="isDisabled" placeholder="请输入排序顺序" v-model="formTable.sortNumber" ref="sortNumber"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
    </el-form>
    <el-row >
        <el-col :span="11" style="text-align:right">
            <el-button type="primary" @click.native="conformEvent">保存</el-button>
        </el-col>
        <el-col :span="11" style="text-align: left" :offset="2">
            <el-button type="primary" @click.native="cancel">取消</el-button>
        </el-col>
    </el-row>
</div>
<script src="demo.js"></script>
</body>
</html>