<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>功能块维护信息</title>
    <script src="../Public/publicjs.js"></script>
    <style>
        .el-table__body-wrapper{
            text-align: center;
        }
        .el-table th{
            text-align: center;
            background-color:white;
        }
        h2{
            margin:2px 0;
            float: left;
        }
        .headerDiv{
            background: #f5f5f5;
            padding: 3px;
        }
        .el-table__header-wrapper thead div{
            background-color:white;
        }
        .bg-color {
            background: #f5f5f5;
            vertical-align: middle;
            height: 30px;
            font-size:16px;
            line-height:30px;
        }
        tr [class^=el-icon-]{
            margin:3px;
        }
        .el-icon-delete{
            color:#FF4949;
        }
        .el-table .cell, .el-table th>div{
            padding-left: 0;
             padding-right: 0;
        }
    </style>
</head>
<body>
<!--顶部按钮-->
<el-col :span="24" id="myButton">
    <!--所有事件按钮-->
    <el-row type="flex" class="row-bg" justify="end">
        <el-col :span="24" style="text-align: right">
            <el-button size="small" type="info" @click="addBlock" icon="plus">功能块</el-button>
            <!--<el-button size="small" type="info" @click="editBlock" icon="edit">功能块</el-button>-->
            <!--<el-button size="small" type="danger" @click="del" icon="deleteEntity">功能块</el-button>-->
            <el-button size="small" type="info" @click="addData" icon="plus">属性项</el-button>
            <!--<el-button size="small" type="info" @click="editData" icon="edit">属性项</el-button>-->
            <!--<el-button size="small" type="danger" @click="delData" icon="deleteEntity">属性项</el-button>-->
        </el-col>
    </el-row>
</el-col>
<!--左边table-->
<el-col :span="8" id="app" style="margin-left:15px">
    <div class="allBorder">
    <el-row>
        <el-col :span="24">
            <el-col :span="24">
                    <el-row>
                        <el-col :span="24">
                            <el-col :xs="24" :sm="24" :md="24">
                                <div class="bg-color"><span style="margin-left:20px">功能块维护信息</span></div>
                            </el-col>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :xs="16" :sm="16" :md="16">
                            <div class="inputStyle">
                                <el-input size="small" placeholder="请输入内容" v-model="input">
                                    <el-button slot="append" icon="search"  @click.native="get"></el-button>
                                </el-input>
                            </div>
                        </el-col>
                    </el-row>
                <el-row style="padding:0 10px 10px 10px">
                    <template>
                        <el-table
                            v-loading="loading"
                            element-loading-text="加载中"
                            ref="myTable"
                            :data="tableData"
                            @row-click="click"
                            border style="width: 100%"
                            :highlight-current-row="true"
                            :height="leftHeight"
                            @sort-change="headSort">
                            <el-table-column sortable="custom" prop="funcName" label="名称" width="120">
                            </el-table-column>
                            <el-table-column  prop="funcType" label="类型" width="">
                            </el-table-column>
                            <el-table-column sortable="custom" show-overflow-tooltip prop="funcCode" label="代码" width="">
                            </el-table-column>
                            <el-table-column prop="objectName" label="业务对象" width="">
                            </el-table-column>
                            <!--<el-table-column  prop="wetherAvailable" label="是否可用" width="95">-->
                            <!--</el-table-column>-->
                            <el-table-column  label="操作" width="">
                                <template scope="scope">
                                    <el-button @click="editBlock" type="text" size="small" icon="edit"></el-button>
                                    <el-button @click="del" type="text" size="small" icon="delete"></el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </template>
                    <el-row type="flex" justify="end" style="padding-top:10px" class="block">
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page="pageNum"
                                :page-sizes="[10, 20]"
                                :page-size="pageSize"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="allDate">
                        </el-pagination>
                    </el-row>
                </el-row>
            </el-col>
        </el-col>
    </el-row>
    </div>
</el-col>
<!--右边table-->
<el-col :span="15" :offset="1" id="right" style="margin-left:25px">
    <div class="allBorder">
    <el-row>
        <el-col :span="24">
            <el-col :span="24">
                    <el-row>
                        <el-col :span="24">
                            <div class="bg-color"><span style="margin-left:20px">功能块属性项信息</span></div>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :xs="12" :sm="12" :md="12">
                            <div class="inputStyle">
                                <el-input size="small" placeholder="请输入内容" v-model="rightInput">
                                    <el-button slot="append" icon="search" @click.native="getRightData"></el-button>
                                </el-input>
                            </div>
                        </el-col>
                    </el-row>
                <el-row style="padding:0 10px 10px 10px">
                    <template>
                        <el-table
                            v-loading="loading"
                            element-loading-text="加载中"
                            :data="tableData"
                            ref="myTable"
                            @row-click="clickRightTable"
                            :highlight-current-row="true"
                            border style="width: 100%;"
                            :height="rightHeight"
                            @sort-change="headSort">
                            <el-table-column  prop="propertyName" label="业务对象属性" width="">
                            </el-table-column>
                            <el-table-column sortable="custom" prop="displayTitle" label="标题" width="">
                            </el-table-column>
                            <el-table-column sortable="custom" :formatter="wetherDisplay" prop="wetherDisplay" label="是否显示" width="">
                            </el-table-column>
                            <el-table-column  prop="displayWidget" label="控件" width="">
                            </el-table-column>
                            <el-table-column sortable="custom" :formatter="wetherReadonly" prop="wetherReadonly" label="是否只读" width="">
                            </el-table-column>
                            <el-table-column sortable="custom" :formatter="allowEmpty" prop="allowEmpty" label="是否为空" width="">
                            </el-table-column>
                            <el-table-column  prop="sort" label="排序" width="">
                            </el-table-column>
                            <el-table-column  label="操作" width="">
                                <template scope="scope">
                                    <el-button @click="handleClick" type="text" icon="search" size="small"></el-button>
                                    <el-button @click="editData" type="text" icon="edit" size="small"></el-button>
                                    <el-button @click="delData" type="text" icon="delete" size="small"></el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </template>
                    <el-row type="flex" justify="end" style="padding-top:10px" class="block">
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page="pageNum"
                                :page-sizes="[10, 20]"
                                :page-size="pageSize"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="allDate">
                        </el-pagination>
                    </el-row>
                </el-row>
            </el-col>
        </el-col>
    </el-row>
    </div>
</el-col>
</body>
<script src="function-block.js"></script>
</html>