<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../Public/publicjs.js"></script>

    <style>
        html {
            overflow-x: hidden;
        }
    </style>
</head>
<body>

<el-col :span="24" id="myButton">
    <!--所有事件按钮-->
    <el-row type="flex" class="row-bg" justify="end">
        <el-col :span="24" style="text-align: right">
            <el-button @click="addEvent" size="small" type="info" icon="plus">主信息</el-button>
            <el-button @click="addProEvent" size="small" type="info" icon="plus">明细信息</el-button>
        </el-col>
    </el-row>
</el-col>

<!--左边table    -->
<el-col :span="10" id="left" style="margin-left:15px">
    <div class="allBorder">
        <el-row>
            <el-col :span="24">
                <el-col :span="24">
                    <el-row>
                        <el-col :span="24">
                            <el-col :xs="24" :sm="24" :md="24">
                                <div class="bg-color"><span style="margin-left:20px">键值集合主信息维护</span></div>
                            </el-col>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :xs="16" :sm="16" :md="16">
                            <div class="inputStyle">
                                <el-input placeholder="请输入内容" v-model="input" size="small">
                                    <el-button slot="append" icon="search" @click.native="leftSearch"></el-button>
                                </el-input>
                            </div>
                        </el-col>
                    </el-row>
                    <el-row style="padding:0 10px 10px 10px">
                        <template>
                            <el-table :data="tableData" ref="tableData" border :height="leftHeight"
                                      highlight-current-row
                                      v-loading="loading"
                                      element-loading-text="加载中"
                                      @sort-change="headSort"
                                      @row-click="leftCurrentChange"
                                      style="width: 100%;border-radius: 5px">
                                <el-table-column type="expand">
                                    <template scope="props">
                                        <el-form label-position="left" inline class="demo-table-expand">
                                            <el-row>
                                                <el-col :span="16">
                                                    <el-form-item label="所属模块">
                                                        <span>{{ props.row.belongModule}}</span>
                                                    </el-form-item>
                                                </el-col>
                                                <el-col :span="8">
                                                    <el-form-item label="所属系统">
                                                        <span>{{props.row.belongSystem}}</span>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col :span="16">
                                                    <el-form-item label="说明">
                                                        <span>{{ props.row.desp }}</span>
                                                    </el-form-item>
                                                </el-col>
                                                <el-col :span="8">
                                                    <el-form-item label="版本">
                                                        <span>{{ props.row.version }}</span>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                        </el-form>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="keysetCode" sortable="custom" label="代码" width="150" show-overflow-tooltip>
                                </el-table-column>
                                <el-table-column prop="keysetName" sortable="custom" label="名称" width="150" show-overflow-tooltip>
                                </el-table-column>
                                <el-table-column  prop=""
                                                  label="操作" width="100">
                                    <template scope="scope">
                                        <el-button @click.native="editLeftEvent" type="text" size="small" icon="edit"></el-button>
                                        <el-button @click.native="deleteLeftEvent" type="text" size="small" icon="delete"></el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </template>
                        <el-row type="flex" justify="end" style="padding-top:10px" class="block">
                            <el-pagination
                                    @size-change="handleSizeChange"
                                    @current-change="handleCurrentChange"
                                    :current-page="pageNum"
                                    :page-sizes="[2,10, 20]"
                                    :page-size="pageSize"
                                    layout="total, sizes, prev, pager, next, jumper"
                                    :total="allDate">
                            </el-pagination>
                        </el-row>
                    </el-row>
                </el-col>
            </el-col>
        </el-row>
    </div>
</el-col>

<!--右边的table-->
<el-col :span="13" id="right" :offset="1" style="margin-left:25px">
    <div class="allBorder">
        <el-row>
            <el-col :span="24">
                <el-col :span="24">
                    <el-row>
                        <el-col :span="24">
                            <el-col :xs="24" :sm="24" :md="24">
                                <div class="bg-color"><span style="margin-left:20px">键值集合明细信息维护</span></div>
                            </el-col>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :xs="16" :sm="16" :md="16">
                            <div class="inputStyle">
                                <el-input placeholder="请输入内容" v-model="input" size="small">
                                    <el-button slot="append" icon="search" @click.native="searchPage"></el-button>
                                </el-input>
                            </div>
                        </el-col>
                    </el-row>
                    <el-row style="padding:0 10px 10px 10px">
                        <template>
                            <el-table :data="tableData" ref="tableData" border :height="rightHeight"
                                      highlight-current-row
                                      v-loading="loading"
                                      element-loading-text="加载中"
                                      @sort-change="headSort"
                                      @row-click="rightCurrentChange"
                                      style="width: 100%;border-radius: 5px">
                                <el-table-column prop="confKey" sortable="custom" label="键" width="" show-overflow-tooltip>
                                </el-table-column>
                                <el-table-column prop="confValue" sortable="custom" label="值" width="" show-overflow-tooltip>
                                </el-table-column>
                                <el-table-column prop="desp" label="说明" width="150" show-overflow-tooltip>
                                </el-table-column>
                                <el-table-column  prop=""
                                                  label="操作" width="100">
                                    <template scope="scope">
                                        <el-button @click.native="editRightEvent" type="text" size="small" icon="edit"></el-button>
                                        <el-button @click.native="deleteRigthEvent" type="text" size="small" icon="delete"></el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </template>
                        <el-row type="flex" justify="end" style="padding-top:10px" class="block">
                            <el-pagination
                                    @size-change="handleSizeChange"
                                    @current-change="handleCurrentChange"
                                    :current-page="pageNum"
                                    :page-sizes="[2,10, 20]"
                                    :page-size="pageSize"
                                    layout="total, sizes, prev, pager, next, jumper"
                                    :total="allDate">
                            </el-pagination>
                        </el-row>
                    </el-row>
                </el-col>
            </el-col>
        </el-row>
    </div>
</el-col>
</body>
<script src="key-value-set.js"></script>
</html>