<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>编辑主信息</title>
  <style>
    #keyValueSetAdd .el-row {
      margin-top: 20px;
    }
    .el-select-dropdown {
      z-index: 900000000 !important;
    }
  </style>
</head>
<body>
<div id="keyValueSetAdd" style="margin-top:20px">
  <el-form :label-position="labelPosition" label-width="100px" :rules="rules" :model="keyForm" ref='keyForm'
           style="padding:0 20px 0 5px" class="demo-ruleForm">
    <el-form-item label="代码" prop="keysetCodeInput">
      <el-input placeholder="请输入代码" v-model="keyForm.keysetCodeInput" @blur="changeKeySetCode" ref="keysetCodeInput"></el-input>
    </el-form-item>
    <el-form-item label="名称" prop="keysetNameInput">
      <el-input placeholder="请输入名称" v-model="keyForm.keysetNameInput" ref="keysetNameInput"></el-input>
    </el-form-item>
    <el-form-item label="所属模块" prop="belongModuleInput">
      <single-selection @change-data="getBelongModule_1"  :initial="belongModule_1" ref="belongModule_1">
        <!---->
      </single-selection>
    </el-form-item>
    <!--<el-form-item label="所属系统" prop="belongSystemInput">-->
      <!--<el-input placeholder="请输入名称" v-model="keyForm.belongSystemInput" ref="belongSystemInput"></el-input>-->
    <!--</el-form-item>-->
    <el-form-item label="说明" prop="despInput">
      <el-input type="textarea" placeholder="请输入说明" v-model="keyForm.despInput" ref="despInput"></el-input>
    </el-form-item>
    <el-form-item label="版本号" prop="versionInput">
      <el-input placeholder="版本号" disabled v-model="keyForm.versionInput" ref="versionInput"></el-input>
    </el-form-item>
  </el-form>
  <el-row>
    <el-col :span="11" style="text-align:right">
      <el-button type="primary" size="small" @click.native="confirm('keyForm')">保存</el-button>
    </el-col>
    <el-col :span="11" style="text-align: left" :offset="2">
      <el-button type="primary" size="small" @click.native="cancel" >取消</el-button>
    </el-col>
  </el-row>
</div>
<script src="key-value-set-add.js"></script>
</body>
</html>