/*去除滚动条*/
/*html {*/
    /*overflow: hidden;*/
/*}*/
body{
    margin:2px 8px
}
.el-button+.el-button {
     margin-left: 0;
}
.el-button.el-button--info.is-disabled {
    color: #fff;
    background-color: #adddf9;
    border-color: #adddf9;
}
.el-button.el-button--danger.is-disabled {
    color: #fff;
    background-color: #f99b9b;
    border-color: #f99b9b;
}
.el-button.el-button--warning.is-disabled {
    color: #fff;
    background-color: #fdd77c;
    border-color: #fdd77c;
}
.el-button.el-button--warning {
    color: #fff;
    background-color: #ffbf27;
    border-color: #ffbf27;
}
/*标题头部*/
.bg-color {
    background: #f5f5f5;
    vertical-align: middle;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
}
/*标题头部下的文字*/
.bg-color span{
    margin-left:20px;
}
/*table里面的单元格*/
.el-table th {
    text-align: center;
    background-color: white;
}
/*table里面的单元格列头*/
.el-table th div {
    background-color: #fff;
}
/*上方搜索框往右对齐*/
.el-row--flex.is-justify-end {
    text-align: right;
    padding:2px 0 8px 0
}
/*大框加颜色圆角*/
.allBorder{
    border:1px solid #d1ddf9;border-radius: 5px;
}
.inputStyle{
    padding:15px 10px 10px 10px
}
.tableStyle{
    width: 100%;
    border-radius: 5px
}

tr [class^=el-icon-]{
    margin:3px;
}
.el-icon-delete{
    color:#FF4949;
}