/*去除横向滚动条滚动条*/
html {
    overflow-x: hidden;
}
body{
    margin:2px 8px
}
.el-button+.el-button {
     margin-left: 0;
}
.el-button.el-button--info.is-disabled {
    color: #fff;
    background-color: #adddf9;
    border-color: #adddf9;
}
.el-button.el-button--danger.is-disabled {
    color: #fff;
    background-color: #f99b9b;
    border-color: #f99b9b;
}
.el-button.el-button--warning.is-disabled {
    color: #fff;
    background-color: #fdd77c;
    border-color: #fdd77c;
}
.el-button.el-button--warning {
    color: #fff;
    background-color: #ffbf27;
    border-color: #ffbf27;
}




/*标题头部*/
.bg-color {
    background: #f5f5f5;
    vertical-align: middle;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
}
/*标题头部下的文字*/
.bg-color span{
    margin-left:20px;
}
/*table里面的单元格*/
.el-table th {
    text-align: center;
    background-color: white;
}
/*table里面的单元格列头*/
.el-table th div {
    background-color: #fff;
}
/*上方搜索框往右对齐*/
.el-row--flex.is-justify-end {
    text-align: right;
    padding:2px 0 8px 0
}
/*大框加颜色圆角*/
.allBorder{
    border:1px solid #d1ddf9;border-radius: 5px;
}
.inputStyle{
    padding:15px 10px 10px 10px
}
.tableStyle{
    width: 100%;
    border-radius: 5px
}

tr [class^=el-icon-]{
    margin:3px;
}
/*删除按钮*/
.el-icon-delete{
    color:#FF4949;
}
/*被禁用的删除按钮*/
.el-button.is-disabled.el-button--text .el-icon-delete {
    color:#f59797;
}

/*扩展表的padding*/
.el-table__expanded-cell {
    padding: 12px 40px 5px 40px;
}
/*扩展表表格的bottom*/
td  .el-form-item {
    margin-bottom: 0;
}
td.el-table__expanded-cell{
    text-align: left;
    /*margin-left:20%;*/
}
/*扩展表label颜色*/
.demo-table-expand label {
    color: #99a9bf;
}

/* 树形下拉框样式 */
#select_tree {
    /*width: 215px;*/
    max-height: 350px;
    overflow-y: scroll;
    z-index: 99999999 !important;
}

::-webkit-scrollbar {
    width: 0;
}

#select_tree .el-tree {
    border: none;
}

#gmpDrop .el-input .el-input__icon {
    transform: rotateZ(180deg);
}

#gmpDrop .el-input .is-reverse {
    transition: transform .3s;
    transform: rotateZ(360deg);
}

#gmpDrop .el-icon-circle-close {
    opacity: 1;
    transition: opacity .3s;
}

#select_tree li {
    padding: 0;
    position: relative;
}

#select_tree li:last-child {
    padding-right: 7px;
    text-align: right;
}

#select_tree li:last-child:hover {
    background-color: #fff;
}


/*日期控件显示最上层*/
.el-picker-panel.el-date-picker{
    z-index: 9999999999 !important;
}

/*下拉框在最上层*/
.el-select-dropdown {
    z-index: 900000000 !important;
}
/*tree的边框去掉*/
.el-tree {
    border: none;
}
