<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>动态生成vue实例</title>
</head>
<body>
    <div id="main">
        <el-row :gutter="10" style="margin-top: 20px;">
            <el-col :span="6" :offset="4">
                <el-input v-model="allValue"></el-input>
            </el-col>
            <el-col :span="4">
                <el-select v-model="name" placeholder="请选择">
                    <el-option
                        v-for="item in allType"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                    </el-option>
                </el-select>
            </el-col>
            <el-col :span="1">
                <el-button type="primary" icon="plus" @click="add"></el-button>
            </el-col>
        </el-row>
        <div v-for="(item, index) in items" :is="item.html" :child-index="num"></div>
    </div>

    <script type="text/javascript" src="../Public/publicjs.js"></script>
    <script>
        // 构造函数
        function new_vue() {};
        // 构造data返回值函数
        new_vue.prototype.data = function(type) {
//            var data;
            if(type == "input") {
                return function() {
                    return {
                        message: ""
                    }
                }
            }
            if(type == "select") {
                return function() {
                    return {
                        value: "",
                        options: [{
                            value: 'Beijing',
                            label: '北京'
                        }, {
                            value: 'Shanghai',
                            label: '上海'
                        }, {
                            value: 'Nanjing',
                            label: '南京'
                        }, {
                            value: 'Chengdu',
                            label: '成都'
                        }, {
                            value: 'Shenzhen',
                            label: '深圳'
                        }, {
                            value: 'Guangzhou',
                            label: '广州'
                        }, {
                            value: 'Hangzhou',
                            label: '杭州'
                        }]
                    }
                }
            }
            if(type == "datetime") {
                return function() {
                    return {
                        value: ""
                    }
                }
            }
            if(type == "checkbox") {
                return function() {
                    return {
                        checked: false
                    }
                }
            }
        };
        // 构造函数原型链
        new_vue.prototype.creat = function(_id, num, type) {
            // vue实例名称
            var _name;
            _name = "vm_" + num;

            // 实例化对象 绑定接收组件参数
            var _obj = new new_vue();

            // 定义模板
            var _template;
            if(type == "input") {
                _template = `<el-row>
					            <el-col :span="3" :offset="10" style="margin-top: 20px;">
					                <el-input placeholder="请输入内容" @blur="getData" v-model="message"></el-input>
					            </el-col>
					        </el-row>`;
            }
            if(type == "select") {
                _template = `<el-row>
					            <el-col :span="4" :offset="10" style="margin-top: 20px;">
					                <el-select v-model="value" @change="getData" placeholder="请选择">
										<el-option
											v-for="item in options"
											:key="item.value"
											:label="item.label"
											:value="item.value">
										</el-option>
									</el-select>
					            </el-col>
					        </el-row>`;
            }
            if(type == "checkbox") {
                _template = `<el-row>
					            <el-col :span="4" :offset="10" style="margin-top: 20px;">
					                <el-checkbox @change="getData" v-model="checked">是否显示</el-checkbox>
					            </el-col>
					        </el-row>`;
            }
            if(type == "datetime") {
                _template = `<el-row>
					            <el-col :span="4" :offset="10" style="margin-top: 20px;">
					                <el-date-picker @change="getData" v-model="value" type="datetime" placeholder="选择日期时间">
									</el-date-picker>
					            </el-col>
					        </el-row>`;
            }

            // 拼接vue实例
            _name = new Vue({
                el: _id,
                template: _template,
                data: _obj.data(type),
                methods: {
                    getData(data) {
                        if(type == "input") {
                            console.log(data.target.value);
                            $app.allValue += data.target.value + ",";
                        }
                        if(type == "select") {
                            console.log(data);
                            $app.allValue += data + ",";
                        }
                        if(type == "checkbox") {
                            console.log(data.target.checked);
                            $app.allValue += data.target.checked + ",";
                        }
                        if(type == "datetime") {
                            console.log(data);
                            $app.allValue += data + ",";
                        }
                    }
                }
            })
        };

        var _html = Vue.extend({
            props: ["childIndex"],
            data() {
                return {
                    name: ""
                }
            },
            mounted() {
              // 拼接新增HTML的id
              this.name = "cnt-" + this.childIndex;
            },
            template: "<div :id='this.name'></div>"
        });

        var $app = new Vue({
            el: "#main",
            data() {
                return {
                    allValue: "",
                    items: [],
                    name: "",
                    num: 0,
                    allType: [{
                        value: "input",
                        label: "输入框"
                    }, {
                        value: "select",
                        label: "下拉框"
                    }, {
                        value: "checkbox",
                        label: "复选框"
                    }, {
                        value: "datetime",
                        label: "日期时间"
                    }]
                }
            },
            components: {
                "$html": _html
            },
            methods: {
                add() {
                    // 新增一次标识自加
                    this.num += 1;
                    // 将模板push到对象数组里
                    this.items.push({
                        "html": "$html"
                    });
                }
            },
            updated() {
                // 新增创建vue实例
                var $obj = new new_vue();
                $obj.creat("#cnt-" + this.num, this.num, this.name);
            }
        });
    </script>
</body>
</html>