<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>序列规则重置</title>

</head>
<body>
<div id="main" style="margin-top:20px">
     <el-form ref="resetform" :model="resetform" v-model="labelPosition" label-width="90px" style="padding:0 20px 0 10px">
         <el-form-item label="代码">
            <el-input v-model="resetform.seqCode" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="名称">
            <el-input v-model="resetform.seqName" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="规则内容">
            <el-input v-model="resetform.seqContent" :disabled="true"></el-input>
        </el-form-item>

    </el-form>
</div>
</body>

<script src="sequence-rule-config-reset.js"></script>
</html>