<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>序列规则重置</title>
    <script src="../Public/publicjs.js"></script>
</head>
<body>
<div id="main" style="margin-top:20px">
    <el-form ref="resetform" :model="resetform" label-width="100px">
        <el-form-item label="代码">
            <el-input v-model="resetform.seqCode"></el-input>
        </el-form-item>
        <el-form-item label="名称">
            <el-input v-model="resetform.seqName"></el-input>
        </el-form-item>
        <el-form-item label="规则内容">
            <el-input v-model="resetform.seqContent"></el-input>
        </el-form-item>
        <!--<el-form-item label="变量Key">-->
            <!--<el-input v-model="resetform.name"></el-input>-->
        <!--</el-form-item>-->
        <el-form-item label="当前序列值">
            <el-input v-model="resetform.value"></el-input>
        </el-form-item>
        <el-form-item >
            <el-button type="primary" size="small" @click.native="conform()">保存</el-button>
            <el-button type="primary" size="small" @click.native="cancel">取消</el-button>
        </el-form-item>
    </el-form>
</div>
</body>

<script>
    var seqReset=new Vue({
        el:"#main",
        data:function(){
            return{
                resetform:{
                    seqCode:'',
                    seqName:'',
                    seqContent:'',
                    value:''
                },
                choseId:'',//选中的rowId
                queryUrl:serverPath+'/sequenceRule/queryById'
            }
        },
        methods:{
            searchByRowId(){
                this.$http.jsonp(this.queryUrl,{
                    "rowId":this.choseId,
                },{
                    jsonp:'callback'
                }).then(function (res) {
                    this.resetform.seqCode=res.data.data[0].seqCode;
                    this.resetform.seqName=res.data.data[0].seqName;
                    this.resetform.seqContent=res.data.data[0].seqContent;
                })
            },
            //保存
            conform(){

            },
            cancel(){
                parent.layer.close(window.parent.resetIndex);
            }
        },
        created(){
            this.choseId = window.parent.config.rowId;
            this.searchByRowId();
        }
    })
</script>
</html>