<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>序列规则重置</title>

</head>
<body>
<div id="main" style="margin-top:20px">
    <!--<form class="el-form" style="padding: 0px 20px 0px 10px;">
        <div class="el-form-item">
    <label class="el-form-item__label" style="width: 90px;">代码</label>
    <div class="el-form-item__content" style="margin-left: 90px;"><div class="el-input is-disabled">
        <input autocomplete="off" disabled="disabled" type="text" rows="2" validateevent="true" class="el-input__inner">
    </div>
    </div>
</div>
    <div class="el-form-item">
        <label class="el-form-item__label" style="width: 90px;">名称</label>
        <div class="el-form-item__content" style="margin-left: 90px;"><div class="el-input is-disabled">
            <input autocomplete="off" disabled="disabled" type="text" rows="2" validateevent="true" class="el-input__inner">
        </div>
        </div>
    </div>
    <div class="el-form-item">
        <label class="el-form-item__label" style="width: 90px;">规则内容</label>
        <div class="el-form-item__content" style="margin-left: 90px;"><div class="el-input is-disabled">
            <input autocomplete="off" disabled="disabled" type="text" rows="2" validateevent="true" class="el-input__inner">
        </div>
        </div>
    </div>

    <div class="el-form-item"><label class="el-form-item__label" style="width: 90px;">b</label>
        <div class="el-form-item__content" style="margin-left: 90px;"><div class="el-input">
            <input autocomplete="off" type="text" rows="2" validateevent="true" value="666" class="el-input__inner">
        </div></div></div>
    </form>
-->









     <el-form ref="resetform" :model="resetform" v-model="labelPosition" label-width="90px" style="padding:0 20px 0 10px">
         <el-form-item label="代码">
            <el-input v-model="resetform.seqCode" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="名称">
            <el-input v-model="resetform.seqName" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="规则内容">
            <el-input v-model="resetform.seqContent" :disabled="true"></el-input>
        </el-form-item>

        <div class="el-form-item">
            <label class="el-form-item__label" style="width: 90px;">b</label>
            <div class="el-form-item__content" style="margin-left: 90px;">
                <div class="el-input">
                    <input autocomplete="off" type="text" rows="2" validateevent="true" value="666" class="el-input__inner">
                </div></div>
        </div>

        <!--<el-form-item style="text-align: center">-->
            <!--<el-button type="primary" size="small" @click.native="conform()">保存</el-button>-->
            <!--<el-button type="primary" size="small" @click.native="cancel">取消</el-button>-->
        <!--</el-form-item>-->
    </el-form>
</div>
</body>

<script src="sequence-rule-config-reset.js"></script>
</html>