<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        /*#SequenceRuleConfigAdd .el-row {*/
        /*margin-top: 20px;*/
        /*}*/
        .el-select-dropdown{
            z-index:900000000 !important;
        }
        .label {
            float: right;
            line-height: 30px;
        }
        #content .el-row{
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div id="SequenceRuleConfigAdd" style="margin-top:20px">
    <el-form :label-position="labelPosition" label-width="80px" :model="formTable">
        <el-row type="flex" class="row-bg">
            <el-col :span="20" :offset="1">
                <el-form-item label="代码">
                    <el-input placeholder="请输入代码" :disabled="disabled" v-model="formTable.seqCodeInput" ref="seqCodeInput"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
            <el-col :span="20" :offset="1">
                <el-form-item label="名称">
                    <el-input placeholder="请输入名称" v-model="formTable.seqNameInput" ref="seqNameInput"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
            <el-col :span="20" :offset="1">
                <el-form-item label="内容">
                    <el-input placeholder="请输入内容" v-model="formTable.seqContentInput" ref="seqContentInput">
                        <el-button slot="append" icon="plus" @click="menuClick"></el-button>
                    </el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
            <el-col :span="20" :offset="1">
                <el-form-item label="说明">
                    <el-input type="textarea" placeholder="请输入说明" v-model="formTable.despInput" ref="despInput"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
            <el-col :span="20" :offset="1">
                <el-form-item label="版本">
                    <el-input placeholder="系统自动生成版本" disabled="" v-model="formTable.versionInput" ref="versionInput"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
    </el-form>
    <el-row>
        <el-col :span="11" style="text-align:right">
            <el-button type="primary" @click.native="confirm">保存</el-button>
        </el-col>
        <el-col :span="11" style="text-align: left" :offset="2">
            <el-button type="primary" @click.native="cancel">取消</el-button>
        </el-col>
    </el-row>
</div>

<el-dialog title="内容配置" :visible.sync="dialogFormVisible" id="content" ref="dialogFormVisible" size="large" :close-on-click-modal="closeOnClickModal">
    <el-row justify="center" type="flex" :gutter="10" v-for="(domain,index) in domains" :key="domain.dokey">
        <el-col :span="2">
            <div class="label">名称</div>
        </el-col>
        <el-col :span="5">
            <div>
                <el-select placeholder="请选择" v-model="domain.name" ref="domain.name">
                    <el-option v-for="item in names" :key="item.name" :label="item.label" :value="item.name"></el-option>
                </el-select></div>
        </el-col>
        <el-col :span="2">
            <div class="label">键</div>
        </el-col>
        <el-col :span="5">
            <div><el-input placeholder="请输入键" v-model="domain.key" ref="domain.key"></el-input></div>
        </el-col>

        <el-col :span="2">
            <div class="label">值</div>
        </el-col>
        <el-col :span="5">
            <div><el-input placeholder="请输入值" v-model="domain.value" ref="domain.value" ></el-input></div>
        </el-col>
        <el-col :span="3">
            <div class="label">是否显示</div>
        </el-col>
        <el-col :span="5">
            <div>
                <el-select placeholder="请选择" v-model="domain.option" ref="domain.option" >
                    <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
                </el-select>
            </div>

        </el-col>
        <el-col :span="3">
            <div><el-button type="danger" @click.prevent="removeDomain(domain)">删除</el-button></div>
        </el-col>
    </el-row>
    <el-row justify="center" type="flex" >
        <el-col>
            <div style="text-align: center">
                <el-button type="primary" @click="addDomain">新增</el-button>
                <el-button type="primary" @click.native="confirm('dialogFormVisible')">确定</el-button>
                <el-button type="primary" @click.native="cancel">取消</el-button>
            </div>
        </el-col>
    </el-row>
</el-dialog>

<script src="sequence-rule-config-add.js"></script>
</body>
</html>