<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增数据集配置</title>
    <style>
        /*#addDataSet .el-row {*/
        /*margin-top: 20px;*/
        /*}*/
    </style>
</head>
<body>
<div id="addDataSet" style="margin-top:20px">
    <el-form :label-position="labelPosition" label-width="60px" :model="formTable">
        <el-row type="flex" class="row-bg">
            <el-col :span="20" :offset="1">
                <el-form-item label="代码">
                    <el-input placeholder="系统自动生成代码" v-model="formTable.datasetCode" disabled="" ref="codeInput"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
            <el-col :span="20" :offset="1">
                <el-form-item label="名称">
                    <el-input placeholder="请输入名称" v-model="formTable.nameInput" ref="nameInput"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
            <el-col :span="20" :offset="1">
                <el-form-item label="类型">
                    <el-input placeholder="请输入类型" v-model="formTable.typeInput" ref="typeInput"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
            <el-col :span="20" :offset="1">
                <el-form-item label="内容">
                    <el-input type="textarea" placeholder="请输入内容" v-model="formTable.content"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
            <el-col :span="20" :offset="1">
                <el-form-item label="说明">
                    <el-input type="textarea" placeholder="请输入说明" v-model="formTable.desp"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
            <el-col :span="20" :offset="1">
                <el-form-item label="版本">
                    <el-input placeholder="系统自动生成版本" v-model="formTable.version" disabled=""></el-input>
                </el-form-item>
            </el-col>
        </el-row>
    </el-form>
    <el-row>
        <el-col :span="11" style="text-align:right">
            <el-button type="primary" @click.native="conformEvent">保存</el-button>
        </el-col>
        <el-col :span="11" style="text-align: left" :offset="2">
            <el-button type="primary" @click.native="cancel">取消</el-button>
        </el-col>
    </el-row>
</div>
</body>
<script src="add-data-set.js"></script>
</html>