<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event_Add</title>
    <style>
        #addEvent .el-row {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div id="addEvent" style="margin-top:20px">
    <el-row justify="center" type="flex">
        <el-col :span="22">
            <div>
                <el-input placeholder="请输入键" v-model="codeInput" ref="codeInput" v-bind:disabled="disabled">
                    <template slot="prepend">&nbsp;键&nbsp;</template>
                </el-input>
            </div>
        </el-col>
    </el-row>
    <el-row justify="center" type="flex">
        <el-col :span="22">
            <div>
                <el-input placeholder="请输入值" v-model="nameInput" ref="nameInput">
                    <template slot="prepend">&nbsp;值&nbsp;</template>
                </el-input>
            </div>
        </el-col>
    </el-row>
    <el-row justify="center" type="flex">
        <el-col :span="22">
            <div>
                <el-input placeholder="请输入说明" v-model="tableInput" ref="tableInput">
                    <template slot="prepend">名称</template>
                </el-input>
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="11" style="text-align:right">
            <el-button type="primary" size="small" @click.native="conformEvent">确定</el-button>
        </el-col>
        <el-col :span="11" style="text-align: left" :offset="2">
            <el-button type="primary" size="small" @click.native="cancel">取消</el-button>
        </el-col>
    </el-row>
</div>
<script>
    var resAdd = new Vue({
        el: '#addEvent',
        data: function () {
            return {
                codeInput: '',  //键
                nameInput: '',  //值
                tableInput: '', //描述
                disabled: false  //开始键的内容可以写
            }
        },
        methods: {
            conformEvent() {
                //判断是否都为空 空的话给出提示
                var datas = [this.$refs.codeInput, this.$refs.nameInput, this.$refs.tableInput];
                for (var i = 0; i < datas.length; i++) {
                    if (datas[i].value == '') {
                        ibcpLayer.ShowMsg(datas[i].placeholder);
                        return;
                    }
                }
                if (operate == 1) { //新增的时候
                    this.$http.jsonp(addUrl, {
                        confKey: resAdd.codeInput,
                        confValue: resAdd.nameInput,
                        desp: resAdd.tableInput
                    }, {
                        jsonp: 'callback'
                    }).then(function (res) {
                        ibcpLayer.ShowOK(res.data.message);
                        resCol.searchResTable();
                        ibcpLayer.Close(divIndex);
                    });
                }
                if (operate == 2) {
                    this.$http.jsonp(editUrl, {
                        //拿到这条数据的ID
                        rowId: resCol.currentValue.rowId,
                        confValue: resAdd.nameInput,
                        desp: resAdd.tableInput
                    }, {
                        jsonp: 'callback'
                    }).then(function () {
                        ibcpLayer.ShowOK('编辑成功');
                        resCol.searchResTable();
                        ibcpLayer.Close(divIndex);
                    });
                }
            },
            cancel() {
                ibcpLayer.Close(divIndex);
            }
        }
    })
</script>
</body>
</html>