<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event_Add</title>
    <style>
        #addEvent .el-row {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div id="addEvent" style="margin-top:20px">
    <el-form :label-position="labelPosition" label-width="100px" :model="colForm" ref='colForm' :rules="rules"
             style="padding:0 20px" class="demo-ruleForm">
        <el-form-item label="请输入键" prop="codeInput">
            <el-input placeholder="请输入键" v-model="colForm.codeInput" ref="codeInput"></el-input>
        </el-form-item>
        <el-form-item label="请输入值" prop="nameInput">
            <el-input placeholder="请输入值" v-model="colForm.nameInput" ref="nameInput"></el-input>
        </el-form-item>
        <el-form-item label="请输入说明" prop="tableInput">
            <el-input type="textarea" placeholder="请输入说明" v-model="colForm.tableInput" ref="tableInput"></el-input>
        </el-form-item>
    </el-form>
    <el-row>
        <el-col :span="11" style="text-align:right">
            <el-button type="primary" size="small" @click.native="conformEvent('colForm')">保存</el-button>
        </el-col>
        <el-col :span="11" style="text-align: left" :offset="2">
            <el-button type="primary" size="small" @click.native="cancel">取消</el-button>
        </el-col>
    </el-row>
</div>
<script src="resource-add.js"> </script>
</body>
</html>