<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event_Add</title>
    <style>
        #addEvent .el-row {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div id="addEvent" style="margin-top:20px">
    <el-form :label-position="labelPosition" label-width="100px" :rules="rules" :model="colForm" ref='colForm'
             style="padding:0 20px" class="demo-ruleForm">
        <el-form-item label="请输入键" prop="codeInput">
            <el-input placeholder="请输入键" v-model="colForm.codeInput" ref="codeInput"
                      v-bind:disabled="colForm.disabled"></el-input>
        </el-form-item>
        <el-form-item label="请输入值" prop="nameInput">
            <el-input placeholder="请输入值" v-model="colForm.nameInput" ref="nameInput"></el-input>
        </el-form-item>
        <el-form-item label="请输入说明" prop="tableInput">
            <el-input type="textarea" placeholder="请输入说明" v-model="colForm.tableInput" ref="tableInput"></el-input>
        </el-form-item>
    </el-form>
    <el-row>
        <el-col :span="11" style="text-align:right">
            <el-button type="primary" size="small" @click.native="conformEvent('colForm')">保存</el-button>
        </el-col>
        <el-col :span="11" style="text-align: left" :offset="2">
            <el-button type="primary" size="small" @click.native="cancel">取消</el-button>
        </el-col>
    </el-row>
</div>
<script>
    var resAdd = new Vue({
        el: '#addEvent',
        data: function () {
            return {
                labelPosition: 'right',
                colForm: {
                    codeInput: '',  //键
                    nameInput: '',  //值
                    tableInput: '', //描述
                    disabled: false  //开始键的内容可以写
                },
                rules: {
                    codeInput: [
                        {required: true, message: '请输入键', trigger: 'blur'},
                        //{ min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
                    ],
                    nameInput: [
                        {required: true, message: '请输入值', trigger: 'blur'}
                    ],
                    tableInput: [
                        {required: true, message: '请输入说明', trigger: 'blur'}
                    ]
                }
            }

        },
        methods: {
            conformEvent(formName) {
                this.$refs[formName].validate(function (valid) {
                    if (valid) {
                        if (operate == 1) { //新增的时候
                            resAdd.$http.jsonp(addUrl, {
                                confKey: resAdd.colForm.codeInput,
                                confValue: resAdd.colForm.nameInput,
                                desp: resAdd.colForm.tableInput
                            }, {
                                jsonp: 'callback'
                            }).then(function (res) {
                                addObj.addOk(function(){
                                    ibcpLayer.ShowOK(res.data.message);
                                    resCol.searchResTable();
                                    ibcpLayer.Close(divIndex);
                                })
                            });
                        }
                        if (operate == 2) {
                            resAdd.$http.jsonp(editUrl, {
                                //拿到这条数据的ID
                                rowId: resCol.currentValue.rowId,
                                confValue: resAdd.colForm.nameInput,
                                desp: resAdd.colForm.tableInput
                            }, {
                                jsonp: 'callback'
                            }).then(function (res) {
                                editObj.editOk(function(){
                                    ibcpLayer.ShowOK(res.data.message);
                                    resCol.searchResTable();
                                    ibcpLayer.Close(divIndex);
                                })
                            });
                        }
                    } else {
                        return false;
                    }
                });
            },
            cancel() {
                ibcpLayer.Close(divIndex);
            }
        }
    })
</script>
</body>
</html>